{% extends 'accounts/adminbase.html' %}

{% block title %}All Orders {% endblock %}

{% block content %}

<div class="container">
     <div class="row">
        <div class="col-md-12">
            <div class="card bg-primary text-white">
                <div class="card-header"><h4>All Post</h4>
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'adminpost-search' %}" method="GET">
                        <input class="form-control mr-sm-2" type="search"
                               placeholder="Search here........................" aria-label="Search"
                               name="search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
                    </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mx-auto">

                    </div>
                </div>
            </div>
<hr>

            <a class="btn btn-danger btn-sm mt-1 bmb-1"  href="{% url 'post-create' %}">Add New Post</a>
            <hr>
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th><small>Tags</small></th>
                    <th>Description</th>
                    <th>Status</th>
                    <th><small>User Login</small></th>
                    <th><small>Organization</small></th>
                    <th><small>Created On</small></th>
                </tr>
                </thead>
                <tbody>
                {% for post in allposts %}
                <tr class="table-primary">
                    <td><a href="{% url 'post-detail' post.id%}">#POST_{{post.id}}</a></td>
                    <td><a href="{{post.image.url}}" target="_blank"><img src="{{post.image.url}}" target="_blank"
                                                                          style="height: 100px;" alt=""></td>
                    <td><a class="article-title" href="{% url 'post-detail' post.id%}">{{ post.title }}</a></td>
                    <td><small>{{ post.title_tag|slice:":100"|safe }}</small></td>
                    <td><small>{{ post.content|slice:":100"|safe }}<small></small></td>
                    <td>{{post.get_status_display}}</td>
                    <td><p class="card-text"><small> {{post.author}} </small></p></td>
                    <td><p class="card-text"><small> {{post.author.profile.organization}} </small></p></td>
                    <td><p class="card-text"><small> {{post.created_on|date:"M d, Y"}} </small></p></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <nav aria-label="...">
        <ul class="pagination">
            {% if allposts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ allposts.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for i in allposts.paginator.page_range %}
            {% if i == allposts.number %}
            <li class="page-item active"><a class="page-link">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            {% if allposts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{  allposts.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>


</div>
{% endblock %}