{% extends "blog/base.html" %}
{% load static %}

{% block content %}

{% load static %}
<h3 class="hd-rd-brdr">GENERAL PROHIBITIONS:</h3>


<div class="container">
    <div>
        <div>
            <div>

                <div class="content">
                    <span>1.1</span>
                    <p> You possibly will not post or sell every item which is prohibited or restricted by a local,
                        state or federal law in every jurisdiction or country. You should keep in mind that the
                        www.goimex.com websites a "Site" serve as an international market place, hence the
                        posting or selling of items can be prohibited on account of laws out of the jurisdiction in
                        which you reside. Below, there is listed certain categories of restricted or prohibited
                        items. However, this listing is not complete; you, as being the seller, are solely
                        responsible for ensuring that you are probably not posting a product that may be prohibited
                        by law in almost any jurisdiction. </p>
                </div>
                <div class="content">
                    <span>1.2</span>
                    <p> goimex.com has preferred to additionally restrict the posting of further types of items
                        that may not be prohibited or restricted by law yet are still marked by controversy
                        including: </p>
                    <ul>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Items which promote unauthorized activities; </p>
                        </li>
                        <li>
                            <span class="policy-initial">b</span>
                            <p>Items which are ethnically, religiously or racially derogatory, or that encourage
                                violence, hatred, religious or racial intolerance; </p>
                        </li>
                        <li>
                            <span class="policy-initial">c</span>
                            <p>Contests, raffles, giveaways or lotteries;
                            </p>
                        </li>
                        <li>
                            <span class="policy-initial">d</span>
                            <p>(d) Investment interests, bonds, stocks, and several other securities;
                            </p>
                        </li>
                        <li>
                            <span class="policy-initial">e</span>
                            <p>(e) Pornographic items or materials that are sexual in nature;
                            </p>
                        </li>
                        <li>
                            <span class="policy-initial">f</span>
                            <p>(f) Items which will not likely offer you a service or product for sale, such as the
                                commercials exclusively meant for obtaining user details.</p>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <span>1 .3 </span>
                    <p> goimex.com, in its exclusive and sole discretion, reserves all the right to impose
                        extra prohibitions and restrictions </p>
                </div>
            </div>
            <div class="content-row" id="sec-2">
                <h3 class="hd-rd-brdr">ARTIFACTS :</h3>
                <div class="content">
                    <span>2 .1 </span>
                    <p> Artifacts, social relics, traditional grave markers, and thus affiliated products are
                        conserved under the PRC laws, the US, along with other jurisdictions and is also probably
                        not sold or posted by means of the Web site. </p>
                </div>
                <div class="content">
                    <span>2 .2  </span>
                    <p>The execute trades of social relics (such as personal selection relics), silver, gold and
                        other precious metals, unique pets and their supplements from the PRC to imported (non-PRC)
                        events is precisely prohibited under the law of PRC as well as being suitably prohibited on
                        the Online site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-3">
                <h3 class="hd-rd-brdr">CURRENCY AND STAMPS :</h3>
                <div class="content">
                    <span>3 .1  </span>
                    <p> goimex.com stringently forbids the purchase and sale of foreign exchange, bank notes,
                        coins, money orders, bonds, currency in digital or any of the intangible form ( i.e.
                        crypto-currency ) along with other securities, in addition to the products employed to
                        generate such items. </p>
                </div>
                <div class="content">
                    <span>3 .2   </span>
                    <p>Counterfeits of the recognized articles in 3 .1, legalized stamps and tenders are totally
                        prohibited. </p>
                </div>
                <div class="content">
                    <span>3 .3   </span>
                    <p>Replicas or reproductions of coins as the collectible products needs to be well marked with
                        the expression "COPY","REPLICA" or "REPRODUCTION" and abide by all of the pertinent local
                        laws. </p>
                </div>
            </div>
            <div class="content-row" id="sec-4">
                <h3 class="hd-rd-brdr">CONTRACTS AND TICKETS </h3>
                <div class="content">
                    <span>4.1 </span>
                    <p>You are accountable for ensuring that your current transaction is legitimate rather than in
                        violation of the contractual obligation. Before booking a product on the Web site, you must
                        thoroughly read any deals which you have typed into which may restrict your own right to
                        promote your item on the Web site. Certain items, like airline tickets, have terms and
                        conditions imprinted on the item which could minimize your capability to promote that
                        product. In additional cases, for example while you are importing a company's merchandise,
                        you might have signed an additional agreement restricting your capacity to sell the
                        product. </p>
                </div>
                <div class="content">
                    <span>4 .2  </span>
                    <p>goimex.com is unable to look for items which could promote such kind of concerns , nor
                        could it evaluate prints of private legal agreements, or adjudicate or obtain sides in
                        private commitment conflicts. Although, we would like you to keep in mind that posting
                        products in violation of your current contractual obligations might place you at an
                        increased risk with third parties. Thus goimex.com urges that you choose and not list
                        any specific product until you finally have examined any pertinent agreements or contracts,
                        and are assured you may officially market it on the Web site. </p>
                </div>
                <div class="content">
                    <span>4 .3  </span>
                    <p>In case you have any queries with regards to your legal rights under a legal contract or
                        agreement , we strongly suggest that you get in touch with the service provider with whom
                        you registered into the agreement and/or discuss with legal representation . </p>
                </div>
            </div>
            <div class="content-row" id="sec-5">
                <h3 class="hd-rd-brdr">CREDIT CARDS </h3>
                <div class="content">
                    <span>5 .1  </span>
                    <p>Credit or debit cards are not allowed to be lawfully distributed from one individual to
                        another, however such type of products is probably not stated on the Web site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-6">
                <h3 class="hd-rd-brdr">DRUGS &amp; ASSOCIATED PARAPHERNALIA </h3>
                <div class="content">
                    <span>6 .1  </span>
                    <p>The sale or listing of steroids, narcotics, poppy seeds and it products or other controlled
                        substances (such as all drugs outlined in Schedules I , II , III , IV or V of the Uniform
                        Controlled Substances Act , 21 U.S .C . 801 et seq.) is precisely restricted on the
                        Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-7">
                <h3 class="hd-rd-brdr">ETHNICALLY OR RACIALLY OFFENSIVE MATERIAL </h3>
                <div class="content">
                    <span>7 .1  </span>
                    <p>Listings which can be racially or ethnically offensive are forbidden on the Web site.
                        Retailers and buyers needs to ensure that any choice of words used portrays appropriate
                        level of responsiveness to individuals who could read it in their listings, so when they may
                        be promoting or buying probably offensive products or services. </p>
                </div>
                <div class="content">
                    <span>7 .1  </span>
                    <p>Listings which can be racially or ethnically offensive are forbidden on the Web site.
                        Retailers and buyers needs to ensure that any choice of words used portrays appropriate
                        level of responsiveness to individuals who could read it in their listings, so when they may
                        be promoting or buying probably offensive products or services. </p>
                </div>
                <div class="content">
                    <span>7 .2  </span>
                    <p>Often, if products are of historical importance or integral to the product (for example a
                        book title), subscribers might use offensive phrases and words. goimex.com motivates
                        all subscribers to treat others the way they them-selves would wish to be treated. </p>
                </div>
                <div class="content">
                    <span>7 .3   </span>
                    <p>goimex.com typically forbids such type of supplies advertising Nazism, the KKK,
                        etc. </p>
                </div>
            </div>
            <div class="content-row" id="sec-8">
                <h3 class="hd-rd-brdr">EVENT TICKET RESALE POLICY </h3>
                <div class="content">
                    <span>8 .1  </span>
                    <p> goimex.com offers the listing of fares to efficiency, sports and various entertainment
                        venues affairs to the degree authorized by law. Although, as a ticket supplier, you will be
                        accountable for ensuring that your actual specific transaction would not violate any applied
                        terms or the law on the ticket itself. </p>
                </div>
            </div>
            <div class="content-row" id="sec-9">
                <h3 class="hd-rd-brdr">FACES, NAMES AND SIGNATURES </h3>
                <div class="content">
                    <span>9 .1  </span>
                    <p>Items possessing the name, signature, image, or likeness of the other person are disallowed ,
                        except in cases where the products were manufactured or approved by the particular person
                        whose name, signature, image, or likeness have been used. </p>
                </div>
            </div>
            <div class="content-row" id="sec-10">
                <h3 class="hd-rd-brdr">FINANCIAL SERVICES </h3>
                <div class="content">
                    <span>10 .1   </span>
                    <p>goimex.com forbids listings that offers fiscal services, such as issuing bank
                        guarantees, money transfers and letters of loans, credit, funding and fundraising for
                        personal investment purposes, etc. </p>
                </div>
            </div>
            <div class="content-row" id="sec-11">
                <h3 class="hd-rd-brdr">FIREARMS, AMMUNITION, WEAPONS </h3>
                <div class="content">
                    <span>11 .1  </span>
                    <p>The posting of, promoting for sale, or offering for investment decision of any arms, military
                        ordnance, ammunitions, weapons (including explosive weapons), and/or any relevant parts or
                        accessories is stringently forbidden. Such activity may result in your account to be
                        delisted. </p>
                </div>
                <div class="content">
                    <span>11 .2  </span>
                    <p>goimex.com is not going to permit the posting, promoting for sale, or offering of
                        investment of BB guns, air guns, stun guns, paintball guns, spear guns, harpoons, or any
                        other weapons which will release a projectile having any chemicals, gas, or other explosive
                        substances. Replica, "look-alike”, and products imitation of the above items under
                        particular circumstances would be authorized merely upon the express sanction of
                        goimex.com. </p>
                </div>
                <div class="content">
                    <span>11 .3   </span>
                    <p>Any instruction, processing, servicing, or aid of producing any chemical, biological, or
                        nuclear weapons, or many other Weapons of Mass Destruction ( WMD ) or its known related
                        agents is strictly prohibited by global law and is suitably limited on the Site. Any
                        violation on this policy will generate the government notification authorities by the
                        goimex.com along with your accounts being delisted. </p>
                </div>
                <div class="content">
                    <span>11 .4   </span>
                    <p>Knives along with cutting instruments will typically be authorized to be outlined. Gravity
                        knifes, Switchblade knives, bladed hand-held devices, knuckledusters (bladed or not), and
                        disguised knives generally are not permitted to be listed. goimex.com retains
                        discretion over precisely what products are ideal and triggers excision of a listing that it
                        deems as a weapon.</p>
                </div>
            </div>
            <div class="content-row" id="sec-12">
                <h3 class="hd-rd-brdr">Foods</h3>
                <div class="content">
                    <span>12.1   </span>
                    <p>The sale or listing of sexual enhancement supplements or foods is prohibited on the
                        Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-13">
                <h3 class="hd-rd-brdr">Tobacco Products </h3>
                <div class="content">
                    <span>13.1  </span>
                    <p>The posting of tobacco products, including but not limited to cigarettes, cigars, pipe
                        tobacco, cigarette tobacco, chewing tobacco, tobacco leaf and hookah tobacco is forbidden on
                        the Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-14">
                <h3 class="hd-rd-brdr">GOLD, SILVER AND OTHER PRECIOUS METALS </h3>
                <div class="content">
                    <span>14  </span>
                    <p>goimex.com does not permit listings that offer the sale or buying of gold, silver and
                        other precious metals (not including jewelry). </p>
                </div>
            </div>
            <div class="content-row" id="sec-15">
                <h3 class="hd-rd-brdr">Government-Issued IDs, Licenses and Uniforms </h3>
                <div class="content">
                    <span>5 .1  </span>
                    <p>The following items may not be listed on the Site:</p>
                    <ul>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Items that claim to be, or appear similar to, official government-issued
                                identification documents or licenses, such as birth certificates, driver’s licenses,
                                visas or passports. Furthermore, completed applications for such documents
                                containing personal information may not be listed. </p>
                        </li>
                        <li>
                            <span class="policy-initial">b</span>
                            <p>Fake identification cards or any items that are designed for the manufacture of such
                                cards. </p>
                        </li>
                        <li>
                            <span class="policy-initial">c</span>
                            <p>Articles of clothing or identification that claim to be, or appear similar to,
                                official government uniforms.</p>
                        </li>
                        <li>
                            <span class="policy-initial">d</span>
                            <p>Military awards, decorations and medals, in addition to items with substantially
                                similar designs.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-row" id="sec-16">
                <h3 class="hd-rd-brdr">HAZARDOUS AND DANGEROUS MATERIALS </h3>
                <div class="content">
                    <span>16.1   </span>
                    <p>The posting, offering for purchase, or promoting for sale of dangerous or hazardous materials
                        (such as the categories of dangerous goods as defined under the International Maritime
                        Dangerous Goods Code) is banned on the Site.</p>
                </div>
                <div class="content">
                    <span>16.2   </span>
                    <p>The posting of any products containing harmful substances (e.g. toys containing lead paint)
                        is forbidden on the Site.</p>
                </div>
                <div class="content">
                    <span>16.3   </span>
                    <p>Automotive airbags are expressly forbidden on the site due to containing explosive
                        materials.</p>
                </div>
                <div class="content">
                    <span>16.3   </span>
                    <p>Automotive airbags are expressly forbidden on the site due to containing explosive
                        materials.</p>
                </div>
                <div class="content">
                    <span>16.4   </span>
                    <p>Asbestos materials and/or products containing asbestos are prohibited.</p>
                </div>
            </div>
            <div class="content-row" id="sec-17">
                <h3 class="hd-rd-brdr">HUMAN PARTS AND REMAINS </h3>
                <div class="content">
                    <span>17.1   </span>
                    <p>goimex.com prohibits the listing of any humans, the human body, or any human body part.
                        Examples of such prohibited items include, but are not limited to: organs, bone, blood,
                        sperm, and eggs. </p>
                </div>
                <div class="content">
                    <span>17.2   </span>
                    <p>Skeletons and skulls that are used for educational or medical purposes may be listed on the
                        Site. </p>
                </div>
                <div class="content">
                    <span>17.3   </span>
                    <p>Items made of human hair, such as wigs for commercial uses, are permitted. </p>
                </div>
            </div>
            <div class="content-row" id="sec-18">
                <h3 class="hd-rd-brdr">INVOICES </h3>
                <div class="content">
                    <span>18.2   </span>
                    <p>The sale or listing of any form of receipts or invoices (including pre-filled, blank, or
                        value added receipts or invoices), is strictly forbidden on the Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-19">
                <h3 class="hd-rd-brdr">JOB POSTINGS </h3>
                <div class="content">
                    <span>19.1  </span>
                    <p> Job postings from which a company/factory/institute may directly recruit employees are
                        prohibited on the Site.</p>
                </div>
            </div>
            <div class="content-row" id="sec-20">
                <h3 class="hd-rd-brdr">MAILING LISTS AND PERSONAL INFORMATION </h3>
                <div class="content">
                    <span>20.1  </span>
                    <p>The sale or posting of bulk mailing lists or email that personally contain identifiable
                        information including names, addresses, phone numbers, fax numbers and email addresses, is
                        strictly prohibited. Also prohibited are software or other tools which are designed or used
                        to send unsolicited commercial email (i.e. "spam"). </p>
                </div>
            </div>
            <div class="content-row" id="sec-21">
                <h3 class="hd-rd-brdr">MEDICAL AND HEALTHCARE SERVICES </h3>
                <div class="content">
                    <span>21.1  </span>
                    <p>goimex.com prohibits listings that offer healthcare or medical services, including
                        services for medical treatment, vaccination, rehabilitation, psychological counseling,
                        healthcheck, plastic surgery, dietetics, massage, etc. </p>
                </div>
            </div>
            <div class="content-row" id="sec-22">
                <h3 class="hd-rd-brdr">NON-BUSINESS INFORMATION </h3>
                <div class="content">
                    <span>22.1  </span>
                    <p>goimex.com is an online business to business information platform; personal and
                        non-business information is prohibited. </p>
                </div>
            </div>
            <div class="content-row" id="sec-23">
                <h3 class="hd-rd-brdr">NON-TRANSFERABLE ITEMS </h3>
                <div class="content">
                    <span>23.1  </span>
                    <p>Non-transferable items may not be sold or posted via the Website. Several products including
                        airline tickets, lottery tickets and some event tickets may not be transferred or
                        resold. </p>
                </div>
            </div>
            <div class="content-row" id="sec-24">
                <h3 class="hd-rd-brdr">POLICE-RELATED ITEMS </h3>
                <div class="content">
                    <span>24.1  </span>
                    <p>The posting of official law enforcement equipment or law enforcement badges from any public
                        authority, including badges issued by the government of any country, is strictly
                        prohibited. </p>
                </div>
                <div class="content">
                    <span>24.2  </span>
                    <p> There are some limited police items that may be listed on our site, provided they observe
                        any noted guidelines: </p>
                    <ul>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Authorized general souvenir items, such as mugs, hats, buttons, pins, pens, T-shirts,
                                cuff links, money clips that do not resemble badges, and paperweights that do not
                                contain badges. </p>
                        </li>
                        <li>
                            <span class="policy-initial">b</span>
                            <p>Badges that are clearly not official or genuine (e.g. toy badges). </p>
                        </li>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Historical badges that do not resemble modern law enforcement badges, provided that
                                the item description clearly states that the badge is a historical piece at least 75
                                years old or issued by an organization which no longer exists. </p>
                        </li>
                    </ul>
                    <div class="content">
                        <span>24.3  </span>
                        <p>Police uniforms may be posted provided that they are obsolete and in no way resemble
                            current issue police uniforms. This fact must be clearly stated within the posting
                            description. </p>
                    </div>
                </div>
            </div>
            <div class="content-row" id="sec-25">
                <h3 class="hd-rd-brdr">PORNOGRAPHIC MATERIALS AND ADULT PRODUCTS </h3>
                <div class="content">
                    <span>25.1  </span>
                    <p> The sale or posting of pornographic materials is strictly prohibited, as it violates laws in
                        many countries. While pornography is difficult to define and standards vary from nation to
                        nation, goimex.com will generally follow guidelines accepted in Hong Kong and the
                        PRC. </p>
                </div>
                <div class="content">
                    <span>25.2   </span>
                    <p>goimex.com strictly prohibits items suggestive or depicting of bestiality, rape sex,
                        incest or sex with graphic violence or degradation, and any items depicting or suggestive of
                        sex involving minors. </p>
                </div>
                <div class="content">
                    <span>25.3  </span>
                    <p>In determining whether listings or information should be removed from the site, we consider
                        the overall content of the posting, including photos, pictorials, and text. </p>
                </div>
                <div class="content">
                    <span>25.4    </span>
                    <p>goimex.com does not permit the sale of SM. Novelty sexually explicit items, including
                        various types of toys, collectibles, or food items in the shape of genitalia and primarily
                        intended for adult buyers are permitted in the appropriate category. </p>
                </div>
            </div>
            <div class="content-row" id="sec-26">
                <h3 class="hd-rd-brdr">POSTING AN ADVERTISEMENT FOR THE SOLE PURPOSE OF COLLECTING USER INFORMATION
                    OR RAISING MONEY </h3>
                <div class="content">
                    <span>26.1  </span>
                    <p>goimex.com is the ideal site for business to business commercial transactions. Honesty
                        and high ethical standards is what we represent. Postings on this site should clearly
                        represent the item being sold. If your objective is otherwise, we ask that you seek out
                        other websites to carry on the business activity you seek to perform. </p>
                </div>
            </div>
            <div class="content-row" id="sec-27">
                <h3 class="hd-rd-brdr">PRESCRIPTION DRUGS AND DEVICES </h3>
                <div class="content">
                    <span>27.1  </span>
                    <p>goimex.com does not permit the posting of prescription drugs. If you are uncertain as to
                        whether your item is permitted, please contact goimex.com prior to posting. </p>
                </div>
                <div class="content">
                    <span>27.2  </span>
                    <p>goimex.com does not permit the posting of psychotropic drugs and narcotics. </p>
                </div>
                <div class="content">
                    <span>27.3  </span>
                    <p>Member may post over-the-counter drugs if you have obtained necessary approval, license or
                        permit to manufacture or sell drugs. If you are uncertain as to whether you may post
                        over-the-counter drugs, please contact goimex.com prior to posting.</p>
                </div>
                <div class="content">
                    <span>27.4  </span>
                    <p>goimex.com also does not permit the posting of unauthorized medical devices. </p>
                </div>
            </div>
            <div class="content-row" id="sec-28">
                <h3 class="hd-rd-brdr">REAL ESTATE </h3>
                <div class="content">
                    <span>28.1  </span>
                    <p>A real estate posting allows buyers to contact the seller to get more information and express
                        interest about the property listed. Before you post a listing relating to real estate sale
                        or purchase, you must ensure that you have complied with all applicable laws and
                        regulations </p>
                </div>
            </div>
            <div class="content-row" id="sec-29">
                <h3 class="hd-rd-brdr">REFURBISHED PRODUCTS</h3>
                <div class="content">
                    <span>29.1  </span>
                    <p>The sale and purchase of refurbished computers, laptops, and mobile phones is prohibited on
                        the Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-30">
                <h3 class="hd-rd-brdr">REPLICA AND COUNTERFEIT ITEMS</h3>
                <div class="content">
                    <span>30.1  </span>
                    <p>Listing of counterfeits, unauthorized items, or non-licensed replicas, i.e. counterfeit
                        designer garment, handbags, sunglasses, watches, or other accessories, is strictly
                        prohibited on the Site. </p>
                </div>
                <div class="content">
                    <span>30.2  </span>
                    <p>If the products sold bear the logo or name of a company, but did not originate from or were
                        not endorsed by that company, such products are prohibited from the Site. </p>
                </div>
                <div class="content">
                    <span>30.3  </span>
                    <p>Listing products of luxury brand are permitted if an authorization certificate has been
                        issued by the luxury brand owner.</p>
                </div>
                <div class="content">
                    <span>30.4  </span>
                    <p>Postings offering to purchase or sell counterfeits, replicas or other unsanctioned items
                        shall be subject to removal by goimex.com. Repeated postings of unauthorized items or
                        counterfeit shall result in the immediate suspension of your membership. <br>
                        <a href="#">Click here</a> to learn more about goimex.com's policy on replica and
                        counterfeit items.
                    </p>
                </div>
            </div>
            <div class="content-row" id="sec-31">
                <h3 class="hd-rd-brdr">CIRCUMVENTION DEVICES AND HACKING EQUIPMENT</h3>
                <div class="content">
                    <span>31.1  </span>
                    <p>Descramblers or other items that may be used to gain unlawful access to television
                        programming (such as cable TV and satellite), telephone, internet access, data or other
                        restricted, protected, or premium services are forbidden. Stating the product is for test or
                        educational purposes will not legitimize a product that is otherwise inappropriate. Some
                        examples of items which are prohibited include card programmers and smart cards, DSS
                        emulators, descramblers, and hacking software. </p>
                </div>
                <div class="content">
                    <span>31.2  </span>
                    <p>Similarly, information on "how to" gain or descramble access to satellite or cable television
                        programming or other services without authorization or payment is prohibited.
                        goimex.com's policy is to restrict any encouragement of this type of activity.</p>
                </div>
                <div class="content">
                    <span>31.3  </span>
                    <p>Devices designed to intentionally block, jam or interfere with authorized radio
                        communications, such as personal and cellular communication services, wireless networking
                        services (Wi-Fi), global positioning systems (GPS) and police radar are prohibited.</p>
                </div>
            </div>
            <div class="content-row" id="sec-32">
                <h3 class="hd-rd-brdr">SOFTWARE </h3>
                <div class="content">
                    <span>32.1  </span>
                    <p>Academic Software </p>
                    <ul>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Academic software is software sold at discounted prices to teachers, students, and
                                employees of accredited learning institutions. </p>
                        </li>
                        <li>
                            <span class="policy-initial">b</span>
                            <p>On the Site, please do not list any academic software unless you are so authorized.
                                Postings violating goimex.com's academic software policy may be deleted prior
                                to publication. </p>
                        </li>
                        <li>
                            <span class="policy-initial">c</span>
                            <p>For listings of academic software in support of an official academic reseller or an
                                educative institution, such licensure needs to be claimed conspicuously in the
                                listings, such as promoting leads, Products and companies. A certificate of
                                agreement released by the official academic reseller (or the educational
                                institution) additionally need to be offered to goimex.com. </p>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <span>32 .2  </span>
                    <p>OEM Software </p>
                    <ul>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Do not list "bundled" or "OEM" software copies on the Site until you are promoting it
                                with computer hardware. Original Equipment Manufacturer (OEM), or bundled software,
                                is software that is obtained as a part of the purchase of the latest computer. OEM
                                software licenses typically restrict the new buyer from reselling the software
                                program without the computer or, in most cases, without the computer hardware. </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-row" id="sec-33">
                <h3 class="hd-rd-brdr">SPY EQUIPMENT</h3>
                <div class="content">
                    <span>33.1 </span>
                    <p>The sale or listing of spy equipment is not legalized on the Site. </p>
                </div>
                <div class="content">
                    <span>33.2 </span>
                    <p>The listing of devices used for interception of wire, electronic, and oral communications is
                        prohibited. </p>
                </div>
                <div class="content">
                    <span>33.3 </span>
                    <p>Hidden photographic devices are permitted, unless used to facilitate the surreptitious
                        recording or viewing of individuals for sexual purposes.</p>
                </div>
            </div>
            <div class="content-row" id="sec-34">
                <h3 class="hd-rd-brdr">STOCKS AND OTHER SECURITIES</h3>
                <div class="content">
                    <span>34.1  </span>
                    <p>goimex.com does not permit the sale or listing of bonds, stocks, investment interests,
                        credit, or other securities. </p>
                </div>
            </div>
            <div class="content-row" id="sec-35">
                <h3 class="hd-rd-brdr">STOLEN PROPERTY</h3>
                <div class="content">
                    <span>35.1  </span>
                    <p>The sale or posting of stolen property is strictly forbidden on the Site, and violates
                        international law. Stolen property includes items taken from private individuals, as well as
                        property taken without authorization from companies or governments. </p>
                </div>
                <div class="content">
                    <span>35.2   </span>
                    <p>goimex.com cooperates and supports with the efforts of law enforcement involving the
                        stolen property recovery and the prosecution of responsible individuals. If you are
                        concerned that the images or/and text in your item description have been used by another
                        Site user without your authorization, or that your intellectual property rights have been
                        violated by such user, please contact our service team at
                        Eworldtrade@service.goimex.com.</p>
                </div>
            </div>
            <div class="content-row" id="sec-36">
                <h3 class="hd-rd-brdr">TEXTILE QUOTA</h3>
                <div class="content">
                    <span>36.1   </span>
                    <p>The sale or purchase offering of textile quota is strictly prohibited on the Site </p>
                </div>
            </div>
            <div class="content-row" id="sec-37">
                <h3 class="hd-rd-brdr">TRANSIT RELATED ITEMS </h3>
                <div class="content">
                    <span>37.1   </span>
                    <p>The following items related to the commercial airline and public transportation industries
                        may not be listed on the Site: </p>
                    <ul>
                        <li>
                            <span class="policy-initial">a</span>
                            <p>Any article of identification or clothing related to transportation industries,
                                including but not limited to, commercial airport service personnel uniforms, airline
                                pilot's uniforms, flight attendant's uniforms, uniforms related to railway
                                industries, and uniforms of security personnel of public transport industries.
                                Vintage clothing related to commercial airlines or other public transport may be
                                listed on the Site provided that the item description clearly states that the item
                                is at least 10 years old, is no longer in use by the airline or other public
                                transport authority and does not resemble any current uniform. </p>
                        </li>
                        <li>
                            <span class="policy-initial">b</span>
                            <p>Other materials or manuals related to public transportation concerning mass
                                commercial, including entities operating subways, commercially published safety
                                manuals by airlines or buses or trains. Such products may listed solely if the
                                description states clearly that the item is obsolete and is no longer in use by the
                                airline or any other transit authority. </p>
                        </li>
                        <li>
                            <span class="policy-initial">c</span>
                            <p>Any internal, official, or/and non-public documents. </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-row" id="sec-38">
                <h3 class="hd-rd-brdr">UNAUTHORIZED COPIES OF INTELLECTUAL PROPERTY</h3>
                <div class="content">
                    <span>38.1   </span>
                    <p>The sale or listing of unauthorized (duplicated, pirated, bootleg, backup, etc.) copies of
                        software programs, music albums, video games, television programs, photographs, movies or
                        other protected works is prohibited on the Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-39">
                <h3 class="hd-rd-brdr">USED CLOTHING AND COSMETICS</h3>
                <div class="content">
                    <span>39.1   </span>
                    <p>Used undergarments may not be sold or listed on the Site. However several other used clothing
                        may be listed, so long as the clothing has been thoroughly cleaned. Postings that contain
                        extraneous or inappropriate descriptions will be removed.</p>
                </div>
                <div class="content">
                    <span>39.2   </span>
                    <p>The sale or listing of used cosmetics is prohibited on the Site.</p>
                </div>
            </div>
            <div class="content-row" id="sec-40">
                <h3 class="hd-rd-brdr">VETERINARY PRODUCTS AND DRUGS FOR ANIMALS</h3>
                <div class="content">
                    <span>40.1   </span>
                    <p>Prescription veterinary products and drugs may not be listed on the Site.</p>
                </div>
            </div>
            <div class="content-row" id="sec-41">
                <h3 class="hd-rd-brdr">WILDLIFE AND ANIMAL PRODUCTS </h3>
                <div class="content">
                    <span>41.1  </span>
                    <p>The sale and listing of any animal (containing any parts of animal such as skins, pelts,
                        internal organs, claws, teeth, shells, tusks, ivory, bones and other parts) protected by the
                        Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES) or
                        any other local law or regulation is strictly forbidden on the Site. </p>
                </div>
                <div class="content">
                    <span>41.2  </span>
                    <p>The sale or listing of products made with any part of and/or containing any ingredient
                        derived from sharks or marine mammals is prohibited on the Site. </p>
                </div>
                <div class="content">
                    <span>41.3  </span>
                    <p>The sale or listing of products made from cats or dogs, bears, and any processing equipment’s
                        is prohibited on the Site. </p>
                </div>
                <div class="content">
                    <span>41.4  </span>
                    <p>The sale or listing of poultry, livestock and pets for commercial purposes is permitted on
                        the Site. </p>
                </div>
            </div>
            <div class="content-row" id="sec-42">
                <h3 class="hd-rd-brdr">SANCTIONED AND PROHBITED ITEMS</h3>
                <div class="content">
                    <span>42.1   </span>
                    <p>Products prohibited by sanctions, laws, regulations, and trade restrictions in any relevant
                        jurisdiction or country worldwide are strictly forbidden on the Site.</p>
                    <p><strong class="red">NOTICE:</strong> This list should not be considered exhaustive in nature
                        and shall be updated on a continuous basis. If you are unsure about the product you wish to
                        list with the Site in regard to its appropriateness or legality, please contact our customer
                        services department:</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}