   <div class="container">
       <div class="row">
            <div class="col-md-8 mx-auto">
                  <form class="form-inline my-2 my-lg-0"   action="{% url 'cat-search' %}"  method="GET">
                            <input class="form-control mr-sm-2" type="search"
                                   placeholder="Search here........................"  aria-label="Search" name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
             </div>
       </div>

    </div>
   <hr>