{% load static %}
{% load custom_tags %}


<!DOCTYPE html>

<html lang="en">
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<meta name="description" content="Connecting Bussiness to Bussiness, Country to Country">
<meta name="keywords" content="eCommerce, Buyer, Seller, Indian Manufactorer">
<meta name="author" content="Goimex Global Pvt Ltd.">
<head>
    <meta charset="utf-8">
    <title>Goimex Global Pvt Ltd.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
</head>

<body><br>
<div class="container ">
    <a href="/" title="Goimex Global Pvt. Ltd."><img alt="Goimex Global Pvt. Ltd." height="50"
                                                     class="logo w-60 mt-1"
                                                     src="{%  static  'images/GOIMEX.png' %}"></a>
    <h1 class="text-sm-center">FAQ:</h1><br>
</div>



<div class="container">


    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button><h5>
        This section contains a wealth of information, related to <strong>goimex.com</strong> and its store. If you
        cannot find an answer to your question,
        make sure to contact us.</h5>
    </div>

    <br>

    <div class="" id="accordion">
        <div class="faqHeader">General Questions........</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne" aria-expanded="false">What is Goimex.com?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="">
                <div class="card-block"><h4>
                    <p><strong>Goimex.com</strong> is a global business platform for wholesale trade and business
                        services
                        with company catalogs of each country, basically a meeting place for buyers and suppliers of
                        products and services.</p>
                    <p><strong>Goimex mission </strong> is to help people do business around the world with reliable
                        manufacturers and
                        suppliers of quality and safe products. Link companies and people among themselves.</p></h4>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTen" aria-expanded="false">Does Goimex.com supply or sell products?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    <strong>Goimex.com</strong> does not sell products. All products on Goimex.com are provided by
                    supplier members. We
                    have a wide range of suppliers in 12 industries. You could send inquires to suppliers, or talk with
                    them online. We provide online and offline buyer services for all global buyers, such as qualified
                    supplier matching, verifying suppliers, assisting in online and offline match meetings, and
                    providing secured trading services during trading process.</h4>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseEleven" aria-expanded="false">Can Goimex.com recommend specific products to
                        me?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    Sure. <strong>Goimex.com</strong> could make recommendations according to your requirements. Three
                    ways will
                    support your sourcing:
                    <p>1. Post Sourcing Request to Source Now We will match suppliers for you.</p>
                    <p>2. Subscribe to your interested Product Alert after you’ve logged into Goimex.com, and you will
                        get
                        emails with the latest and hottest products information periodically.</p>
                    <p>3. Send your requests to us directly, we’ll get back to you.</p></h4>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwelve" aria-expanded="false">Do you guarantee anything?</a>
                    </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse" aria-expanded="false" style="">
                    <div class="card-block">
                        <h4>OH YEAH! We guarantee our work - We guarantee specific quantity of leads and quality of
                            leads. You will know in front exactly what you get! And when you don't get it we won't get
                            paid!</h4>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThirteen" aria-expanded="false">What exactly do I get for my money?</a>
                    </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse" aria-expanded="false" style="">
                    <div class="card-block">
                        <h4>RESULTS! Our mission is to get for you leads that you will convert to new paying customers as
                            soon as possible. So we take care of everything from A to Z what is needed to get you
                            results!</h4>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFourteen" aria-expanded="false">How will I get those leads?</a>
                    </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse" aria-expanded="false" style="">
                    <div class="card-block">
                        <h4> You can get it straight to your CRM or we will help you te get them instantly after they
                            signed in the campaign.</h4>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFiveteen" aria-expanded="false">What is the form of those leads?</a>
                    </h4>
                </div>
                <div id="collapseFiveteen" class="panel-collapse collapse" aria-expanded="false" style="">
                    <div class="card-block">
                        <h4> You will know in what type of your product they are interested in and also you will get
                            their name, e-mail and phone number. If needed we will prequalify your leads based on your
                            questions!</h4>
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseSixteen" aria-expanded="false">How long does it take to get first leads?</a>
                    </h4>
                </div>
                <div id="collapseSixteen" class="panel-collapse collapse" aria-expanded="false" style="">
                    <div class="card-block">
                        <h4> It is question of couple days, we can start your campaign in less than a 3 days and you can
                            get your first leads in non less than 5 days.</h4>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseSeventeen" aria-expanded="false">Do I neet to pay for those leads?</a>
                    </h4>
                </div>
                <div id="collapseSeventeen" class="panel-collapse collapse" aria-expanded="false" style="">
                    <div class="card-block">
                        <h4>  Yes, you need to pay for your leads, believe us that if it would be free then this page wouldn't exist.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="faqHeader">Sellers</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false">Who can sell items?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block">
                 <h4>   All types of manufacturers, suppliers, and sellers, be it small/medium enterprises, global
                    corporations, or individual sellers, brands, etc., can sell their products or services</h4>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false">I want to sell my items - what are the steps?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    The steps involved in this process are really simple. All you need to do is:
                    <ul>
                        <li>Register an account</li>
                        <li>Activate your account</li>
                        <li>Go to the <strong>Profile</strong> section and upload your products.</li>
                        <li>The next step is the approval step, which usually takes about 72 hours to approve your
                            products and posts..
                        </li>
                    </ul></h4>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFive" aria-expanded="false">How can Goimex.com help me in generating more
                        business?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    Goimex.com has a huge database of buyers across the globe that can help you get more leads for
                    selling your products or services. It has over 200000 + Business Inquiry generated each month. You
                    can search for more buyers, get recommendation of the latest buyers, post your products/services to
                    attract leads, etc., to generate more business.</h4>
                    <br>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseSix" aria-expanded="false">Why sell my items here?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block">
                    There are a number of reasons why you should join us:
                    <ul>
                        <li>You can join as a free member.</li>
                        <li>Benefits for free members on Goimex.com.</li>
                        <p> • Add up to 200 products</p>
                        <p> • Receive business inquiries for the listed products</p>
                        <p> • Post buy leads for FREE</p>
                        <p> • Online visibility in front of lakhs of potential buyers</p>
                        <p>• Access to a folder the streamlines your business</p>
                        </li>

                        <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>Goimex.com</strong>,
                            as well as on any other marketplate, and thus increase your earning potential.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseEight" aria-expanded="false">What are the payment options?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block">
                <h4>    The best way to transfer funds is via Razor. This secure platform ensures timely payments and a
                    secure environment.</h4>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseNine" aria-expanded="false">Why should I become a Paid Member on Goimex.com?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    Sellers, manufacturers, and suppliers should become a paid member on Goimex.com to:
                    <ol>
                        <li>Increase visibility of products on HTM pages</li>
                        <li> Get a fully-functional and responsive business website</li>
                        <li> View business inquiries and send instant quotes</li>
                        <li>Search and view contact details of buyers aka buy leads</li>
                        <li>Higher ranking and click-through rate</li>
                        <li>Promotion of products on different pages</li>
                        <li>Access to a large client base</li>
                    </ol></h4>
                </div>
            </div>
        </div>

        <div class="faqHeader">Buyers</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFour" aria-expanded="false">I want to buy a product - what are the steps?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    <ol>
                        <li>You can find different categories of products belonging to different industries on the
                            homepage of goimex.Com itself.
                        </li>
                        <li> You can either click on all categories to view a larger list of product categories and
                            select from
                            them.
                        </li>
                        <li>You can click on the industry to which the category belongs and select the category from
                            that
                            industry.
                        </li>
                        <li>You can search for products in the tab and on the search result page, you can find related
                            category
                            from where you can choose the category you wish to search products in.
                        </li>
                    </ol></h4>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseSeven" aria-expanded="false">Is this the latest version of an item</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false">
                <div class="card-block"><h4>
                    Each item in <strong>Goimex.com</strong> is maintained to its latest version. This ensures its
                    smooth operation.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }





</style>
<!----
https://vikenpatel.com/faq-schema-generator/
---->
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "What is Goimex.com?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "-Goimex.com is a global business platform for wholesale trade and business services "
                }
            },
            {
                "@type": "Question",
                "name": "Does Goimex.com supply or sell products? ",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Goimex.com does not sell products. All products on Goimex.com are provided by supplier members"
                }
            },
            {
                "@type": "Question",
                "name": "Can Goimex.com recommend specific products to me?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Sure. Goimex.com could make recommendations according to your requirements."
                }
            },
            {
                "@type": "Question",
                "name": "Who cen sell items?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "All types of manufacturers, suppliers, and sellers, be it small/medium enterprises, global corporations, or individual sellers, brands, etc., can sell their products or services"
                }
            },
            {
                "@type": "Question",
                "name": "I want to sell my items - what are the steps?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "The steps involved in this process are really simple. All you need to do is:\nRegister an account\nActivate your account\nGo to the Profile section and upload your products.\nThe next step is the approval step, which usually takes about 72 hours to approve your products and posts.."
                }
            },
            {
                "@type": "Question",
                "name": "How can Goimex.com help me in generating more business?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Goimex.com has a huge database of buyers across the globe that can help you get more leads for selling your products or services. It has over 200000 + Business Inquiry generated each month. You can search for more buyers, get recommendation of the latest buyers, post your products/services to attract leads, etc., to generate more business."
                }
            },
            {
                "@type": "Question",
                "name": "Why sell my items here?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "There are a number of reasons why you should join us:\nYou can join as a free member.\nBenefits for free members on Goimex.com.\n• Add up to 200 products\n\n• Receive business inquiries for the listed products\n\n• Post buy leads for FREE\n\n• Online visibility in front of lakhs of potential buyers\n\n• Access to a folder the streamlines your business\n\nWe are not an exclusive marketplace. This means that you can sell your items on Goimex.com, as well as on any other marketplace, and thus increase your earning potential."
                }
            },
            {
                "@type": "Question",
                "name": "What are the payment options?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "The best way to transfer funds is via Razor. This secure platform ensures timely payments and a secure environment."
                }
            },
            {
                "@type": "Question",
                "name": "Why should I become a Paid Member on Goimex.com?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Sellers, manufacturers, and suppliers should become a paid member on Goimex.com to:\nIncrease visibility of products on HTM pages\nGet a fully-functional and responsive business website\nView business inquiries and send instant quotes\nSearch and view contact details of buyers aka buy leads\nHigher ranking and click-through rate\nPromotion of products on different pages\nAccess to a large client base"
                }
            },
            {
                "@type": "Question",
                "name": "I want to buy a product - what are the steps?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "You can find different categories of products belonging to different industries on the homepage of goimex.Com itself.\nYou can either click on all categories to view a larger list of product categories and select from them.\nYou can click on the industry to which the category belongs and select the category from that industry.\nYou can search for products in the tab and on the search result page, you can find related category from where you can choose the category you wish to search products in."
                }
            }
        ]
    }
</script>
<!--FAQPage Schema Code Generated by https://vikenpatel.com/faq-page-schema/ -->
<br><br><br></body>