<style>
    ol.s {list-style-type: inherit;}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="notice col-xs-12">
    <h2><span>Notice</span> Board</h2>
    <div class="main-blog">
        <div class="blog">
            <h5>For Buyers</h5>
            <article class="media content-section">
                <ul>
                    <li> How can I search for products on Goimex?</li><hr>
                    <li> What should I do if I can't find suitable products?</li><hr>
                    <li>How can I post a Buying Request to get accurate quotes?</li><hr>
                    <li>How can I contact suppliers?</li><hr>
                    <li>Can Goimex recommend specific products to me?</li>
                </ul>
            </article>
        </div>
        <div class="blog">
            <h5>For Suppliers</h5>
            <article class="media content-section">
                <ul>
                    <li> Updating your Company Profile</li><hr>
                    <li> Listing &amp; Managing Your Products</li><hr>
                    <li> In addition to waiting for the buyer to send me an inquiry, where can I take the initiative to
                        find
                        buyers?
                    </li><hr>
                    <li> How many products I can post?</li><hr>
                    <li> What benefits I will get as a premium member?</li><hr>
                    <li> Exploring Buy Offers</li>
                </ul>
            </article>
        </div>
    </div>
</div>
<div class="container">
    <h2>TIPS</h2>
    <br>
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#home">Buyer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu1">Supplier</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>

            <h5>Buyers Tip</h5>
            <ol class="s">
                <li>Selection of appropriate key words at the time of buy offer posting, you can make it easier for
                    suppliers to search your product requirements.
                </li>
                <li>Subscribe to your interested Product Alert and you will get emails with the latest and hottest
                    products information periodically.
                </li>
                <li>Our buying request channel helps you trade easier. Suppliers who can provide items you need will
                    reply the request and give quotations to you.
                </li>

            </ol>

        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <h5>Suppliers Tip</h5>
            <ol class="s">
                <li>Display your products variety, and increase the opportunity to attain genuine inquiries from
                    buyers.
                </li>
                <li>You need to be very selective and appropriate in case of choosing the product Title/Name. Select
                    the
                    combination of (generic + specific keywords) to make it easily searchable for buyers.
                </li>
                <li>Product optimization aids the product to be more attractive, searchable and easy to find by
                    importers, buyers and traders.
                </li>
            </ol>
        </div>
    </div>
</div>
