{% load static %}

   <link href="{% static 'css/app_min.css' %}"  media="all" rel="stylesheet" type="text/css">
	<link href="{% static 'fonts/icomoon1.ttf?smr7yk' %}"  as="font" rel="preload" type="font/ttf">
	<link href="{% static 'fonts/fa-solid-900.woff2' %}"     rel="preload" type="font/woff2">
	<link href="{% static 'fonts/fa-brands-400 .woff2' %}"     rel="preload" type="font/woff2">
	<link href="{% static 'fonts/fa-regular-400 .woff2' %}"     rel="preload" type="font/woff2">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <link href="{% static 'fonts/lato-v15-latin-300.woff2' %}"   rel="preload" type="font/woff2">
	<link href="{% static 'css/responsive.min.css' %}" id="responsiveCss" media="screen and (max-width: 1199px)" rel="stylesheet" type="text/css">

