{% load static %}
<style>
.p-card {
    border: 1px solid #eee
}

.p-details {
    padding: 10px;
    border-radius: 0px;
    background: #000;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

body {
    background: #eee
}

.spec span {
    font-size: 13px
}

.spec h6 {
    font-size: 16px;
    font-weight: 500
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .;
    transition: opacity .6s ease
}

.line {
    background-color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 0.2px
}
</style>
<section class="ft-prd-verfy-sup featuredProductThumbnailComponent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="lbo-brdr"><span>Verified </span> Suppliers <i><img
                        alt="Featured Products from Verified Suppliers" class="lazy"
                        data-src="{% static 'images/verified-supplier-icon.png' %}"
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="></i> <a
                        class="viewMore d-none d-md-block" href="{% url 'allcompany' %}" title="All Company">- View More
                    -</a></h4>
            </div>
            <div class="col-md-12">
                <div  >
                    <div class="item">
                        <div class="row no-gutters">
                         {% for p in suppliers %}
                            <div class="col-md-3 card ">
                                <div class="card card-cascade card-ecommerce wider shadow mb-4 ">
                                    <!--Card image-->
                                    <div class="view view-cascade overlay text-center">
                                        <h5 class="card-title"><strong><a
                                                href="{% url 'companyproduct' p.user.id %}"><span style="text-transform:uppercase">{{p.organization|striptags|truncatechars:22 }}</span></a></strong>
                                        </h5>
                                        <small class="text-muted">
                                            <a class="mr-2" href="#">{{p.industry|striptags|truncatechars:22 }}</a>
                                        </small>
                                        <img class="card-img-top" src="{{p.img.url}}"
                                                onerror="this.onerror=null; this.src='/static/images/no_image.jpg'"
                                             alt="" style="height: 200px; object-fit: contain;">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                          </a>
                                    </div>
                                    <!--Card Body-->
                                    <div class=" text-center">
                                        <p class="card-text"><small>{{p.bio|striptags|truncatechars:22 }}
                                            <a href="#">Show
                                                More........</a> </small></p>
                                        <small>Seller based in ( {{ p.country.name }} )</small>
                                        <a class="mr-2" href=" {% url 'companyproduct' p.user.id  %} ">
                                            <small>{{p.author.profile.organization }}</small></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
