<section class="Sell on Goimex1">
    <div class="hot-buttons">
        <div class="container">
            <div class="flex-box row">
                <div class="left ">
                    <div class="title scrollTopHomePage">
                        <div class="h2">Sell on Goimex</div>
                    </div>

                    <div class="links">
                        <ul class="flex-box">
                            <li>
                                <a class="link" href="javascript:void(0)">
                                    <i class="fa fa-bullhorn"></i>
                                    <span>Tenders<span>Here are the most relevant requests for quotation</span></span>
                                </a>

                            </li>

                            <li>
                                <a class="link" href="javascript:void(0)">
                                    <i class="fa fa-product-hunt"></i>
                                    <span>Promotion<span>Pay only on results!</span></span>
                                </a>
                            </li>

                            <li>
                                <a class="link" href="javascript:void(0)">
                                    <i class="fa fa-plus"></i>
                                    <span>Add company<span>Trade worldwide on Goimex </span></span></a>
                            </li>
                            <li>
                                <a class="link" href="javascript:void(0)" target="_blank">
                                    <i class="fa fa-check-circle"></i>
                                    <span>Verified supplier<span>Increase customer trust and receive more inquiries</span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>




                <div class="right ">
                    <div class="title scrollTopHomePage">
                        <div class="h2">Buy on Goimex</div>
                    </div>
                    <div class="links">
                        <ul class="flex-box">
                            <li>
                                <a class="link" href="javascript:void(0)" style="margin-right: 0">
                                    <i class="fa fa-archive"></i>
                                    <span>Suppliers<span>Suppliers from all over the world</span></span>
                                </a>
                                <div class="hidden-block">
                                    <a href="javascript:void(0)">Product suppliers</a>
                                    <a href="javascript:void(0)">Service suppliers</a>
                                </div>
                            </li>
                            <li>
                                <a class="link" href="javascript:void(0)" style="margin-right: 0">
                                    <i class="fa fa-product-hunt"></i>
                                    <span>Products and services<span>More than 1000 categories of wholesale products and business services</span></span>
                                </a>
                                <div class="hidden-block">
                                    <a href="javascript:void(0)">Products</a>
                                    <a href="javascript:void(0)">Services</a>
                                </div>
                            </li>
                            <li>
                                <a class="link" href="javascript:void(0)">
                                    <i class="fa fa-american-sign-language-interpreting"></i>
                                    <span>Protect deal<span>Make safe deals</span></span>
                                </a>
                            </li>
                            <li>
                                <a class="link" href="javascript:void(0)">
                                    <i class="fa fa-quote-left"></i>
                                    <span>Get quotes<span>Create one request - get multiple offers</span></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>