<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-container">
    {% for x in last %}
    <div class="w3-panel w3-card">
        <h6 class="text-truncate">
            <i class="{{ x.author.profile.country.flag_css }}"></i>
            <a href="{% url 'post-detail' x.id%}"
               title="{{ x.title}}"> <small>{{ x.title|striptags|truncatechars:30}}
                ( {{ x.author.profile.country.name }} )</small>
            </a>
        </h6>
    </div>
    {% endfor %}
</div>
</body>
</html>