{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    {% for x in last %}
    <h6 class="text-truncate"><a href="{% url 'productdetail' x.slug %}"
                                 title="{{ x.title}}"> {{ x.title|striptags|truncatechars:35}}
        <small> ( {{ x.author.profile.country.name }} )</small>
        <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
        <i class="{{ x.author.profile.country.flag_css }}"></i></a>

        {% endfor %}</h6>
</div>


</body>
</html>