<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    {% for x in last %}
    <h6 class="text-truncate"><a href="{% url 'post-detail' x.id%}"
                                 title="{{ x.title}}"> {{ x.title|striptags|truncatechars:40}}
        <small> ( {{ x.author.profile.country.name }} )</small> <i class="{{ x.author.profile.country.flag_css }}"></i>
     </a>      <small> -{{ x.category }} </small>
 </h6>
    {% endfor %}
</div>
</body>
</html>