<div class="col-sm-12 col-md-4 col-lg-4 filter-leftbar mt-4 mt-md-0">
    <h6>Alphabetic Sorting</h6>
    <div class="alphabetical-sorting">
        <ul class="bg-light-grey hts-code-categories-page">
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/a/" title="a">a</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/b/" title="b">b</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/c/" title="c">c</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/d/" title="d">d</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/e/" title="e">e</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/f/" title="f">f</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary active text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/g/" title="g">g</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/h/" title="h">h</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/i/" title="i">i</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/j/" title="j">j</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/k/" title="k">k</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/l/" title="l">l</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/m/" title="m">m</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/n/" title="n">n</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/o/" title="o">o</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/p/" title="p">p</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/q/" title="q">q</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/r/" title="r">r</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/s/" title="s">s</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/t/" title="t">t</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/u/" title="u">u</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/v/" title="v">v</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/w/" title="w">w</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/x/" title="x">x</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/y/" title="y">y</a>
            </li>
            <li class="d-inline-block">

                <a class="btn btn-sm btn-secondary text-uppercase" rel="nofollow"
                   href="https://www.eworldtrade.com/companies/initial/z/" title="z">z</a>
            </li>
        </ul>
    </div>


</div>