<div class="owl-carousel owl-theme owl-drag owl-loaded" id="bannerCarousel">
    <div class="owl-stage-outer">
        <div class="owl-stage"
             style="transform: translate3d(-3829px, 0px, 0px); transition: all 0.25s ease 0s; width: 11010px;">
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/hnimex/" target="_blank"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/personal-protective-equipment-drive.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner1.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner4.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner3.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner6.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/bomeiindustrialcorporation/" target="_blank">
                    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                         data-src="https://www.eworldtrade.com/2K19/images/banner/bomei-industrial-corporation-ltd-eworldtrade.jpg"
                         class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="https://www.eworldtrade.com/2K19/images/banner/face-mask.png"
                        data-src="https://www.eworldtrade.com/2K19/images/banner/face-mask.png"
                        class="img-fluid w-100 owl-lazy" style="opacity: 1;"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/store/amazon/"> <img
                        src="https://www.eworldtrade.com/2K19/images/banner/eworldtradesliderbanneramazon.jpg"
                        data-src="https://www.eworldtrade.com/2K19/images/banner/eworldtradesliderbanneramazon.jpg"
                        class="img-fluid w-100 owl-lazy" style="opacity: 1;"> </a></div>
            </div>
            <div class="owl-item active" style="width: 478.656px;">
                <div class="item"><a href="https://www.neovision.co.uk/"> <img
                        src="https://www.eworldtrade.com/2K19/images/banner/neovision-eworldtrade-v2.jpg"
                        data-src="https://www.eworldtrade.com/2K19/images/banner/neovision-eworldtrade-v2.jpg"
                        class="img-fluid w-100 owl-lazy" style="opacity: 1;"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/michaelycompany/"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/michaelycompany.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/face-mask-banner.png"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/hnimex/" target="_blank"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/personal-protective-equipment-drive.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner1.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner4.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner3.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/banner6.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/bomeiindustrialcorporation/" target="_blank">
                    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                         data-src="https://www.eworldtrade.com/2K19/images/banner/bomei-industrial-corporation-ltd-eworldtrade.jpg"
                         class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="https://www.eworldtrade.com/2K19/images/banner/face-mask.png"
                        data-src="https://www.eworldtrade.com/2K19/images/banner/face-mask.png"
                        class="img-fluid w-100 owl-lazy" style="opacity: 1;"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/store/amazon/"> <img
                        src="https://www.eworldtrade.com/2K19/images/banner/eworldtradesliderbanneramazon.jpg"
                        data-src="https://www.eworldtrade.com/2K19/images/banner/eworldtradesliderbanneramazon.jpg"
                        class="img-fluid w-100 owl-lazy" style="opacity: 1;"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.neovision.co.uk/"> <img
                        src="https://www.eworldtrade.com/2K19/images/banner/neovision-eworldtrade-v2.jpg"
                        data-src="https://www.eworldtrade.com/2K19/images/banner/neovision-eworldtrade-v2.jpg"
                        class="img-fluid w-100 owl-lazy" style="opacity: 1;"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/michaelycompany/"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/michaelycompany.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/premium-services/elite?cmp=corona"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/face-mask-banner.png"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
            <div class="owl-item cloned" style="width: 478.656px;">
                <div class="item"><a href="https://www.eworldtrade.com/c/hnimex/" target="_blank"> <img
                        src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                        data-src="https://www.eworldtrade.com/2K19/images/banner/personal-protective-equipment-drive.jpg"
                        class="img-fluid w-100 owl-lazy"> </a></div>
            </div>
        </div>
    </div>
    <div class="owl-nav disabled">
        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
        <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
    </div>
    <div class="owl-dots">
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
    </div>
</div>