{% extends "blog/base.html" %}

{% block content %}


<div class="packages-page-start">
    <div class="premium-services-sec services-bg">
        <section class="services-banner services-background gold-banner">
            <div class="container">
                <div class="row">
                    <div class="mob-bg">
                        <h1 class="mb-0">GOLD <span class="d-none d-sm-inline-block">PREMIUM SERVICE</span></h1>
                        <h2>EDGE OF GLOBAL TRADING</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}