{% extends "blog/basefile.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}
<style>
    .grecaptcha-badge {
         opacity:0; !important;
    }
</style>
 <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

  <script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/register/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  </script>
   <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('{{recaptcha_site_key}}', {action: 'submit'}).then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
          });
        });
      }
  </script>

<div class="content-section">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-6 col-xl-5 d-md-block d-none register-content">
            <div>
                <a href="#"
                   title="Global B2B Marketplace for Worldwide Manufacturers and Suppliers – Goimex Global">
       <a href="/" title="Goimex Global Pvt. Ltd."><img alt="Goimex Global Pvt. Ltd." height="70"
                                                                     src="{%  static  'images/GOIMEX.png' %}"></a>
                </a>
                <hr>
            </div>
            <div class="description">
                <h1 class="main-heading">Welcome to </h1>
                <h1 class="main-heading">Goimex</h1>
                <p><h6>To achieve our mission we provide all the necessary functionalities to buyers and sellers that
                help them in developing the voice of their business and to expand worldwide.</h6></p>
            </div>
            <hr>
            <span class="font18">Before registration read our
            <a href="{% url 'policy' %}" target="_blank">Privacy Statement</a> and
            <a href="{% url 'terms' %}" target="_blank">Terms &amp; Conditions</a>

            <hr>
            <span class="text-muted"> Already Have An Account?
                    <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </span>

            <div class="copyrights-links">
                <span>© 2021 goimex.com</span>
                <nav>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"
                                                        title="Contact Goimex">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="col-lg-6">

            <form action="register" method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                {{captcha}}
            </p>
                <input type="hidden" id="g-commit -am recaptcha-response" name="g-recaptcha-response">
                <div class="form-group">
                    <button class="btn btn-outline-info" type="Submit">Sign Up</button>
                </div>
            </form>
            <hr>
            <div>
            </div>
            <br><br>
        </div>
    </div>
</div>


{% endblock content %}