{% extends "blog/newbase.html" %}
{% load static %}
{% block title %} Safe Deal{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="second-screen">
    <div class="container">
        <div class="line"></div>
        <div class="h1">Do not worry</div>
        <br>
        <div class="container-fluid mt-12">
            <div id='products' class="col-lg-12 mx-auto bg-primary">
                <div class="row mx-auto">
                    <div class="col-md-6 card ">
                        <div class="view view-cascade overlay text-center">
                            <div class="left">
                                <div class="image"><img src="{%  static  'images/check_goods.svg' %}"
                                                        alt="Goimex Icon">
                                    <h2>You will receive products in required quality</h2></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 card  ">
                        <div class="view view-cascade overlay text-center">
                            <div class="right">
                                <div class="image"><img src="{% static 'images/airplane_time.svg' %}"
                                                        alt="Qoovee Icon"></div>
                                <div class="text">
                                    <div class="h2">Your products will be shipped on time</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container-fluid mt-1">
            <div class="col-md-12 card  bg-primary ">
                <div class="view view-cascade overlay text-center">
                    <div class="bottom">
                        <div class="col bg-primary">
                            <div class="h2" style="color:white;">Terms</div>
                            <h5 style="color:black;">
                                If the quality of the product or the date of delivery differs from what you and the
                                supplier agreed
                                on Goimex Safe, we will help you find the best solution for all parties or refund your
                                money</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="text-center">
            <p><a href="{% url 'safedealform' %}" class="btn btn-lg btn-danger">Protect Deal</a>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="col-lg-12 mx-auto bg-danger">
        <div class="row">
            <div class="col bg-primary">
                <div class="text-center">
                    <br>
                    <div class="image"><img src="{% static 'images/shield_purple.svg' %}"
                                            alt="Goimex Icon"></div>
                    <br>
                    <button href="{% url 'safedealform' %}" class="btn warning"><h3>Deal Protection</h3></button>
                </div>
                <br>
                <h4 style="color:black; text-align:justify"> We protect both the buyer and seller. We guarantee the
                    seller
                    100 %
                    payment from the
                    buyer. We guarantee the buyer a refund if the seller does not fulfill its
                    obligations.
                </h4>
            </div>
            <div class="col bg-success">
                <div class="text-center">
                    <br>
                    <div class="image"><img src="{% static 'images/ship.svg' %}"
                                            alt="Goimex Icon"></div>
                    <br>
                    <button class="btn warning"><h3>Logistics</h3></button>
                </div>
                <br>
                <h4 style="color:black; text-align:justify">
                    Using Goimex Logistics, you also get protection for the delivery of
                    goods and your
                    goods are sent on time through reliable channels.
                </h4>
            </div>
            <div class="col bg-primary">
                <div class="text-center">
                    <br>
                    <div class="image"><img src="{% static 'images/original.svg' %}"
                                            alt="Goimex Icon"></div>
                    <br>
                    <button class="btn warning"><h3>Brand Verification</h3></button>
                </div>
                <br>
                <h4 style="color:black; text-align:justify">
                    Before the shipment of the goods, we check the risks of brand
                    ownership and other
                    intangible assets that may cause difficulties at customs. You will be completely
                    sure that your
                    cargo will pass all the procedures and will not be confiscated.
                </h4>

            </div>
        </div>
    </div>
</div>

<hr>
<section class="fourth-screen" style="background-image: url('/static/images/safe_how.jpg')">
    <div class="inner">
        <div class="container">
            <div class="text-center"><br>
                <button class="btn success"><h1>How does it works ?</h1></button>
            </div>
            <div class="steps">
                <hr>
                <div class="step">
                    <div class="left"><span>
                        <button class="btn danger"><h4>01. Buyer and supplier discuss the terms of delivery and conclude a contract</h4></button>
                    </span></div>
                    <div class="right">

                    </div>
                </div>
                <hr>
                <div class="step">
                    <div class="left"><span>
                        <button class="btn danger"><h4>02. Buyer sends payment for an order to the transit account of Goimex</h4></button>
                    </span></div>
                </div>
                <hr>
                <div class="step">
                    <div class="left"><span>
                        <button class="btn danger"><h4>03. Supplier receives notification of payment receipt </h4></button>
                    </span></div>
                </div>
                <hr>
                <div class="step">
                    <div class="left"><span>
                        <button class="btn danger"><h4>04. Supplier ships order</h4></button>
                    </span></div>
                </div>
                <hr>
                <div class="step">
                    <div class="left"><span>
                        <button class="btn danger"><h4>05. After buyer receives &amp; approves order, Goimex releases payment to
                            supplier </h4></button>
                    </span></div>
                </div>
                <br>
            </div>

        </div>

    </div>
    <br><br>
</section>
<br><br>
<div>
    <div class="text-center">
        <p><a href="{% url 'safedealform' %}" class="btn btn-lg btn-danger">Protect Deal</a>
        </p>
        <hr>
    </div>
</div>
<br><br>
<div class="container">
    <div class="pull-left">
        <p><h5>Contact us if you have any questions<br>Goimex Support Service always ready to consult
        you.</h5></p>
    </div>
    <div class="pull-right">
        <a href="#" class="btn btn-lg btn-danger">Contact us</a>
    </div>
</div>

<br>
{% endblock %}