{% load static %}
{% load custom_tags %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Your Business. Your Way -Goimex.com</title>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
            intent="WELCOME"
            chat-title="goimex_assistant"
            agent-id="275f99b4-3cc3-4afa-b7d7-1ab2341ae7e4"
            language-code="en"
    ></df-messenger>
    <link href="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/css/seraitrade.e15dd2f18.css"
          rel="stylesheet" type="text/css">

</head>

<body class="body">
<style type="text/css">
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="goimex_assistant"
  agent-id="275f99b4-3cc3-4afa-b7d7-1ab2341ae7e4"
  language-code="en"
></df-messenger>
</style>

<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar-02 w-nav">
    <div class="container-5 w-container"><a href="/" class="w-nav-brand"><img
            src="{%  static  'images/GOIMEX.png' %}"
            width="100" alt="" class="logo_serai"></a>
        <nav role="navigation" class="nav-menu-3 w-nav-menu">
            <div data-hover="1" data-delay="0" class="w-dropdown" style="max-width: 1280px;">
                <div class="dropdown-toggle-4 w-dropdown-toggle" id="w-dropdown-toggle-0"
                     aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button"
                     tabindex="0">
                    <div class="w-icon-dropdown-toggle" aria-hidden="true"></div>
                    <div class="text-block-44">Solutions</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list" id="w-dropdown-list-0"
                     aria-labelledby="w-dropdown-toggle-0"><a href="ecohome" class="w-dropdown-link"
                                                              tabindex="0">Network</a><a href="ecohome"
                                                                                         class="w-dropdown-link"
                                                                                         tabindex="0">Visibility</a><a
                        href="ecohome" class="w-dropdown-link" tabindex="0">Traceability</a><a href="ecohome"
                                                                                               class="w-dropdown-link"
                                                                                               tabindex="0">Link</a>
                </nav>
            </div>
            <div data-hover="1" data-delay="0" class="w-dropdown" style="max-width: 1280px;">
                <div class="dropdown-toggle-5 w-dropdown-toggle" id="w-dropdown-toggle-1"
                     aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button"
                     tabindex="0">
                    <div class="w-icon-dropdown-toggle" aria-hidden="true"></div>
                    <div class="text-block-45">Our company</div>
                </div>
                <nav class="dropdown-list-3 w-dropdown-list" id="w-dropdown-list-1"
                     aria-labelledby="w-dropdown-toggle-1"><a href="{% url 'aboutus' %}" class="w-dropdown-link"
                                                              tabindex="0">About us</a><a href="{% url 'aboutus' %}"
                                                                                          class="w-dropdown-link"
                                                                                          tabindex="0">Partners</a><a
                        href="{% url 'aboutus' %}" class="w-dropdown-link" tabindex="0">Press</a><a
                        href="{% url 'aboutus' %}" class="w-dropdown-link" tabindex="0">Careers</a><a
                        href="{% url 'aboutus' %}"
                        class="w-dropdown-link" tabindex="0">Help center</a><a href="{% url 'aboutus' %}"
                                                                               class="w-dropdown-link" tabindex="0">Contact
                    us</a></nav>
            </div>
            <div data-hover="1" data-delay="0" class="w-dropdown" style="max-width: 1280px;">
                <div class="dropdown-toggle-3 w-dropdown-toggle" id="w-dropdown-toggle-2"
                     aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button"
                     tabindex="0">
                    <div class="w-icon-dropdown-toggle" aria-hidden="true"></div>
                    <div class="text-block-46">Insights</div>
                </div>
                <nav class="dropdown-list-4 w-dropdown-list" id="w-dropdown-list-2"
                     aria-labelledby="w-dropdown-toggle-2"><a href="{% url 'allcompany' %}" class="w-dropdown-link"
                                                              tabindex="0">Companies</a><a
                        href="{% url 'blog-buyerhome' %}" class="w-dropdown-link" tabindex="0">Buyers</a><a
                        href="{% url 'ecomerce' %}"
                        class="w-dropdown-link"
                        tabindex="0">Product
                    updates</a></nav>
            </div>
            <a href="accounts/login"
               class="nav-link-3 w-nav-link" style="max-width: 1280px;">Login</a><a href="ecohome"
                                                                                    class="button_primary is--nav w-button">Get
            started</a></nav>
        <div class="menu-button-3 w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
             tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
<div class="c-section">
    <div class="c-hero">
        <div class="l-column_2 w-row">
            <div class="l-column__item1 w-col w-col-6">
                <div class="c-hero__text"><h1 class="heading_1 is--hero">Technology to shape the future of trade</h1>
                    <p class="body_1 is--hero">We simplify global trade by providing businesses with a platform to
                        connect, trade and build more efficient supply chains.</p><h6 class="heading_6">Explore our
                        solutions:</h6></div>
                <div class="c-hero__cta"><a href="#network" class="button_secondary w-button">Connect and trade</a><a
                        href="#scs" class="button_secondary is--hero w-button">Manage your supply chain</a></div>
            </div>
            <div class="l-column__item2 w-col w-col-6">
                <div class="c-hero__image"><img
                        src="/https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60dbcfe06626c5604b53c2a0_img-home-kv-20210629.png"
                        loading="lazy" width="567"
                        sizes="(max-width: 479px) 96vw, (max-width: 767px) 47vw, (max-width: 1279px) 48vw, 620px"
                        srcset="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60dbcfe06626c5604b53c2a0_img-home-kv-20210629-p-500.png 500w, https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60dbcfe06626c5604b53c2a0_img-home-kv-20210629-p-800.png 800w, https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60dbcfe06626c5604b53c2a0_img-home-kv-20210629.png 1000w"
                        alt="" class="image-65"></div>
            </div>
        </div>
    </div>
</div>
<div class="c-section is--features"><h2 class="heading_2 is__center">Our solutions</h2>
    <div class="c-features__list">
        <section id="network" class="c-features__item is--network w-row">
            <div class="l-column__item1 w-col w-col-6">
                <div class="c-feature__text">
                    <div class="subtitle_1">Connect and trade</div>
                    <h3 class="heading_3 is--orange">Network</h3>
                    <p class="body_2">Search, find and connect with new buyers and sellers. Gain access to trade
                        solutions to help you do business more efficiently.</p></div>
                <div class="c-cta__buttons"><a
                        href="accounts/login"
                        class="button_primary w-button">Join now</a><a href="{% url 'faq' %}"
                                                                       class="button_secondary is--mobile w-button">Learn
                    more</a></div>
            </div>
            <div class="l-column__item2 w-col w-col-6"><img
                    src="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60daf3f3890f98a0e2678f5c_img-home-network-20210629.png"
                    loading="lazy"
                    sizes="(max-width: 479px) 89vw, (max-width: 767px) 47vw, (max-width: 1279px) 48vw, (max-width: 1919px) 620px, 580px"
                    srcset="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60daf3f3890f98a0e2678f5c_img-home-network-20210629-p-500.png 500w, https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60daf3f3890f98a0e2678f5c_img-home-network-20210629-p-800.png 800w, https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60daf3f3890f98a0e2678f5c_img-home-network-20210629.png 1000w"
                    alt=""></div>
        </section>
        <section id="scs" class="c-features__item is--scs w-row">
            <div class="l-column__item1 w-col w-col-6">
                <div class="c-feature__visibility">
                    <div class="c-feature__text">
                        <div class="subtitle_1">Manage your supply chain</div>
                        <h3 class="heading_3 is--orange">Visibility</h3>
                        <p class="body_2">Get a complete view of your supply chain partners and visualise, analyse and
                            verify information in one single place.</p></div>
                    <div class="c-cta__buttons"><a href="{% url 'faq' %}" class="button_primary w-button">Learn
                        more</a></div>
                </div>
                <div class="c-feature__traceability">
                    <div class="c-feature__text"><h3 class="heading_3 is--orange">Traceability</h3>
                        <p class="body_2">Trace order flow throughout your supply chain and share important information
                            with the stakeholders that matter.</p></div>
                    <div class="c-cta__buttons"><a href="{% url 'faq' %}" class="button_primary w-button">Learn
                        more</a></div>
                </div>
            </div>
            <div class="l-column__item2 w-col w-col-6"><img
                    src="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60db4fbaf232960580772587_img-home-scs-20210629.png"
                    loading="lazy"
                    sizes="(max-width: 479px) 89vw, (max-width: 767px) 47vw, (max-width: 1279px) 48vw, (max-width: 1919px) 620px, 580px"
                    srcset="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60db4fbaf232960580772587_img-home-scs-20210629-p-500.png 500w, https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60db4fbaf232960580772587_img-home-scs-20210629.png 1000w"
                    alt=""></div>
        </section>
    </div>
</div>
<div class="c-section about">
    <div class="c-about"><h2 class="heading_2 is__center">Why we exist</h2>
        <div class="l-column_2 w-row">
            <div class="l-column__item1 w-col w-col-6">
                <div class="c-about__image"><img
                        src="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60db56656901ca731a54ec67_img-home-about-20210629.png"
                        loading="lazy"
                        sizes="(max-width: 479px) 96vw, (max-width: 767px) 47vw, (max-width: 1279px) 48vw, 620px"
                        srcset="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60db56656901ca731a54ec67_img-home-about-20210629-p-500.png 500w, https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60db56656901ca731a54ec67_img-home-about-20210629.png 800w"
                        alt=""></div>
            </div>
            <div class="l-column__item2 w-col w-col-6">
                <div class="c-about__text"><h5 class="heading_5">Global trade is unnecessarily complex and
                    inefficient.</h5>
                    <ul role="list" class="c-about__list">
                        <li class="is--list">Trust is hard to build due to absence of information</li>
                        <li class="is--list">Most businesses don’t know how to navigate new markets<br></li>
                        <li class="is--list">Fragmented supply chain data is difficult to integrate</li>
                    </ul>
                    <div class="divider"></div>
                    <h6 class="heading_6 is--about">With over many years in facilitating supply chains, Goimex was
                        launched to simplify global trade.<br></h6><a href="{% url 'faq' %}"
                                                                      class="button_secondary w-button">Learn
                        more</a></div>
            </div>
        </div>
    </div>
</div>
<div class="c-section is--gray is--home">
    <div class="l-column-5 w-row">
        <div class="l-column__item1 w-col w-col-4">
            <div class="c-works__item"><h5 class="heading_5 is-center is--orange">5500+</h5>
                <div class="body_2 is--center">businesses currently using Goimex</div>
            </div>
        </div>
        <div class="l-column__item1 w-col w-col-4">
            <div class="c-works__item"><h5 class="heading_5 is-center is--orange">21000+</h5>
                <div class="body_2 is--center">conversations between buyers and sellers</div>
            </div>
        </div>
        <div class="l-column__item1 w-col w-col-4">
            <div class="c-works__item"><h5 class="heading_5 is-center is--orange">70+</h5>
                <div class="body_2 is--center">countries with members on Goimex</div>
            </div>
        </div>
    </div>
</div>
<div class="c-section is--quote">
    <div class="c-quote">
        <div class="l-column_2 w-row">
            <div class="l-column__item1 is--image w-col w-col-6">
                <div class="c-quote__image"><img
                        src="/static/images/misal.jpg"
                        loading="lazy"
                        sizes="(max-width: 479px) 96vw, (max-width: 767px) 95vw, (max-width: 991px) 96vw, (max-width: 1279px) 48vw, (max-width: 1919px) 49vw, 900px"
                        alt="" class="image-66"></div>
            </div>
            <div class="l-column__item2 w-col w-col-6">
                <div class="c-quote__text w-container"><img
                        src="https://assets-global.website-files.com/5f0d2d0d89c8d52b174f0b2f/60dbd8b6fc73f9bf09b90e10_svg-quote.svg"
                        loading="lazy" alt="" class="image-67">
                    <blockquote class="heading_5 is--quote">Goimex is evolving with its users, integrating technology
                        service providers to help buyers and suppliers exchange data securely, while also building our
                        own enterprise solutions to help you grow your business.
                    </blockquote>
                    <div class="heading_6 is--orange">Santosh Misal</div>
                    <div class="heading_6 is--orange">CEO, Goimex</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-section is--cta">
    <div class="c-cta w-container"><h2 class="heading_2 is__center">Not sure how we can help?</h2>
        <div class="c-cta__buttons is--center"><a href="{% url 'faq' %}" class="button_primary w-button">Compare
            Solutions</a><a href="{% url 'faq' %}" class="button_secondary is--mobile w-button">Get in touch</a>
        </div>
    </div>
</div>
<div class="main-footer">
    <div class="container-6 w-container">
        <div class="footer-flex-container">
            <div class="div-block-133"><img
                    src="{%  static  'images/logonew3.png' %}"
                    loading="lazy" alt="" class="c-footer__image"></div>
            <div><h2 class="footer-heading-2">Our solutions</h2>
                <ul role="list" class="w-list-unstyled">
                    <li>
                        <div class="text-block-39">Connect with businesses</div>
                        <a href="{% url 'faq' %}" class="footer-link-3">Network</a></li>
                    <li>
                        <div class="text-block-38">Supply chain solutions</div>
                        <a href="{% url 'faq' %}" class="footer-link-3">Visibility</a></li>
                    <li><a href="{% url 'faq' %}" class="footer-link-3">Traceability</a></li>
                </ul>
            </div>
            <div><h2 class="footer-heading-2">Our company</h2>
                <ul role="list" class="w-list-unstyled">
                    <li><a href="{% url 'aboutus' %}" class="footer-link-3">About us</a></li>
                    <li><a href="{% url 'aboutus' %}" class="footer-link-3">Partners</a><a href="{% url 'aboutus' %}"
                                                                                           class="footer-link-3">Press</a><a
                            href="{% url 'aboutus' %}" class="footer-link-3">Careers</a><a href="#"
                                                                                           class="footer-link-3">Help
                        center</a><a href="{% url 'aboutus' %}" class="footer-link-3">Contact us</a></li>
                </ul>
            </div>
            <div class="div-block-134"><h2 class="footer-heading-2">Insights</h2>
                <ul role="list" class="w-list-unstyled">
                    <li><a href="{% url 'ecohome' %}" class="footer-link-3">Articles</a></li>
                    <li><a href="{% url 'ecohome' %}" class="footer-link-3">Events</a></li>
                    <li><a href="{% url 'ecohome' %}" class="footer-link-3">Product updates</a></li>
                </ul>
            </div>
        </div>
        <div class="c-footer_copyright w-clearfix">
            <div class="c-footer_copyright__links w-clearfix"><a href="{% url 'terms' %}" target="_blank"
                                                                 class="text_link">Terms &amp; Policies<br></a>
                <link rel="prefetch" href="/terms-and-policy/terms-of-use">
                <a href="{% url 'terms' %}" class="text_link">Privacy policy<br></a>
            </div>
            <div class="c-footer_copyright__text w-clearfix">
                <div class="copyright">©2021 Goimex Global Pvt Limited, all rights reserved.</div>
            </div>
        </div>
    </div>
</div>


</body>