{% extends "buyerseller/newbase.html" %}
{% load humanize %}
{% block title %}Add to cart{% endblock %}

{% block content %}
<style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


</style>
<div>
    <a class="btn btn-primary" href="{% url 'ecomerce' %}">Continue Shopping......</a>
    <hr>
</div>

<div class="container">
    <h3>Product added to cart successfully.</h3>
</div>
<hr>
<div class="card card-cascade card-ecommerce wider shadow mb-12 ">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <h4>Items in my cart</h4>
                <hr>
                <table class="table" id="customers">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate|intcomma}}/-</td>
                        <td>{{cp.quantity|intcomma}}</td>
                        <td>{{cp.subtotal|intcomma}}/-</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        Rs. {{cart.total|intcomma}}/-
                        <th colspan="4" class="text-right">Total</th>
                        <th>Rs. {{cart.total|intcomma}}/-</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-success" href="{% url 'mycart' %}">Update Cart</a>

        </div>
    </div>
</div>

<section class="ft-prd-verfy-sup featuredProductThumbnailComponent">
    <div class="container">
        <hr>
        <h3>More from this seller</h3>
        <div class="row">
            {% for cp in sameuser %}
            {% if cp.status == 1 %}
            <div class="column">
                <h6 class="card-title"><strong><a
                        href="{% url 'productdetail' cp.slug %}">{{cp.title}}</a></strong>
                    {% if cp.offer %}
                    <span class="badge badge-secondary">Offer</span>
                    {% endif %}
                </h6>
                <img title="{{cp.title}}" class="demo cursor" src="{{cp.image.url}}" style="width:100%"
                     alt="{{cp.title}}">{{cp.keyfeatures|safe}}</a></strong>>
                {{cp.author}}-
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
