<div class="FM_bs FM_w1 FM_hp">
    <div class="FM_SldrWAbt FM_pr  ">
        <div class="FM_sldrArw FM_pa FM_ps_r FM_ps_l fcp_m1">
<span class="FM_la FM_ps_l FM_pa FM_bor3 FM_bSw FM_b1 FM_bg0 FM_cp sldrCArw ">
<span class="lftBtn FM_Db slBtn slides" id="sl-prv"></span>
</span>
            <span class="FM_ra FM_ps_r FM_pa FM_bor3 FM_bSw FM_b1 FM_bg0 FM_cp sldrCArw">
<span class="rghtBtn FM_Db slBtn slides" id="sl-nxt"></span>
</span>
        </div>
        <div class="FM_sldr FM_txc FM_ovh FM_br5 fcp_m1 FM_b1 FM_bs tempImgSlider">
            <div class="FM_sldr_Wpr FM_ds1 slides ">
                <div class="FM_sldr_iW FM_ds5 tempImgSlides" style="margin-left: -300px;">
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Chicken Cutting Machine" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/ANDROID/Default/2020/8/DU/IE/PY/89437135/product-jpeg-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/ANDROID/Default/2020/8/DU/IE/PY/89437135/product-jpeg-250x250.jpg"
                         pdispid="22692543833" btntext="" price="35,000/ Piece" catid="732" mcatid="154773"
                         disableisq=""
                         plsqarr="Motor%20Power:0.5%20HP#Cutter%20Diameter:10%20Inches#Phase:Three%20Phase#Features:Easy%20to%20Operate#Material:Stainless%20Steel#Usage%2FApplication:Commercial%20Use"
                         mcatname="" vidurl="" id="sldr_1">
                        <figure class="FM_pr"><a href="chicken-cutting-machines.html#chicken-cutting-machine-156033916"
                                                 class="chngUrl_1"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/ANDROID/Default/2020/8/DU/IE/PY/89437135/product-jpeg-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/ANDROID/Default/2020/8/DU/IE/PY/89437135/product-jpeg-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_1"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="chicken-cutting-machines.html#chicken-cutting-machine-156033916"
                                    class="chngUrl_1"><p id="chngName_1" class="fasC FM_w1">Chicken Cutting Machine</p>
                            </a>
                                <div class="hvr_txt"><a
                                        href="chicken-cutting-machines.html#chicken-cutting-machine-156033916"
                                        class="chngUrl_1">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Chicken Cutting Machine" ctaname="Get Best Quote"
                                        cta_type="Product Enquiry" section="Product Slider" is_oneclick="Yes"
                                        id="inx_gbq_1">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Chicken  Feather Plucking Machine" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/DH/UG/JO/SELLER-89437135/chicken-feather-plucking-machine-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/DH/UG/JO/SELLER-89437135/chicken-feather-plucking-machine-250x250.jpg"
                         pdispid="21584184255" btntext="" price="35,000/ Unit" catid="732" mcatid="142745" disableisq=""
                         plsqarr="Capacity:Upto%205%20Birds#Equipment%20Use:Chicken%20Feather%20Cleaning#Bird%20Type:Chicken#Head%20Type:Round#Usage%2FApplication:Poultry%20Farm#Weight:55%20kg#Country%20of%20Origin:Made%20in%20India#Surface%20Treatment:Galvanized#Automation%20Grade:Automatic#Phase:SINGLE%20%20Phase%2CThree%20Phase#Material%20Grade:SS%20304#Speed:460%20Rpm"
                         mcatname="" vidurl="" id="sldr_2">
                        <figure class="FM_pr"><a
                                href="feather-plucking-machine.html#chicken-feather-plucking-machine-144950320"
                                class="chngUrl_2"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/DH/UG/JO/SELLER-89437135/chicken-feather-plucking-machine-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/DH/UG/JO/SELLER-89437135/chicken-feather-plucking-machine-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_2"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="feather-plucking-machine.html#chicken-feather-plucking-machine-144950320"
                                    class="chngUrl_2"><p id="chngName_2" class="fasC FM_w1">Chicken Feather Plucking
                                Machine</p>
                            </a>
                                <div class="hvr_txt"><a
                                        href="feather-plucking-machine.html#chicken-feather-plucking-machine-144950320"
                                        class="chngUrl_2">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Chicken  Feather Plucking Machine"
                                        ctaname="Get Best Quote" cta_type="Product Enquiry" section="Product Slider"
                                        is_oneclick="Yes" id="inx_gbq_2">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Drip Drum Chicken Processing Plant" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/DV/YR/DY/SELLER-89437135/drip-drum-meat-processing-equipment-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/DV/YR/DY/SELLER-89437135/drip-drum-meat-processing-equipment-250x250.jpg"
                         pdispid="21584263255" btntext="" price="1 Lakh/ Unit" catid="732" mcatid="162088" disableisq=""
                         plsqarr="Power:1-2%20HP#Capacity:500%20kg%2Fhr#Voltage:220%20V#Automation%20Grade:Automatic#Height:1700%20mm#Motor%20Speed:400-450%20RPM#Phase:Three%20Phase"
                         mcatname="" vidurl="" id="sldr_3">
                        <figure class="FM_pr"><a
                                href="meat-processing-equipment.html#drip-drum-chicken-processing-plant-144951110"
                                class="chngUrl_3"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/DV/YR/DY/SELLER-89437135/drip-drum-meat-processing-equipment-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/DV/YR/DY/SELLER-89437135/drip-drum-meat-processing-equipment-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_3"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="meat-processing-equipment.html#drip-drum-chicken-processing-plant-144951110"
                                    class="chngUrl_3"><p id="chngName_3" class="fasC FM_w1">Drip Drum Chicken Processing
                                Plant</p>
                            </a>
                                <div class="hvr_txt"><a
                                        href="meat-processing-equipment.html#drip-drum-chicken-processing-plant-144951110"
                                        class="chngUrl_3">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Drip Drum Chicken Processing Plant"
                                        ctaname="Get Best Quote" cta_type="Product Enquiry" section="Product Slider"
                                        is_oneclick="Yes" id="inx_gbq_3">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Chicken Cutting Machine With 1 Hp Motor" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/ANDROID/Default/2021/5/KI/TE/SX/89437135/product-jpeg-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/ANDROID/Default/2021/5/KI/TE/SX/89437135/product-jpeg-250x250.jpg"
                         pdispid="23416151888" btntext="" price="65,000/ Pounds Per Square Inch" catid="732"
                         mcatid="154773" disableisq=""
                         plsqarr="Automation%20Grade:Semi-Automatic#Motor%20Power:1.5%20hp#Cutting%20Capacity:150%20kg%20per%20hour#Cutter%20Diameter:10%20inch#Weight:46Kg#Size%2FDimensions%28LxWxH%29%20mm:23x3525"
                         mcatname="" vidurl="" id="sldr_4">
                        <figure class="FM_pr"><a
                                href="chicken-feet-cutting-machine.html#chicken-cutting-machine-with-1-hp-motor-163269999"
                                class="chngUrl_4"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/ANDROID/Default/2021/5/KI/TE/SX/89437135/product-jpeg-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/ANDROID/Default/2021/5/KI/TE/SX/89437135/product-jpeg-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_4"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="chicken-feet-cutting-machine.html#chicken-cutting-machine-with-1-hp-motor-163269999"
                                    class="chngUrl_4"><p id="chngName_4" class="fasC FM_w1">Chicken Cutting Machine With
                                1 Hp Motor</p>
                            </a>
                                <div class="hvr_txt"><a
                                        href="chicken-feet-cutting-machine.html#chicken-cutting-machine-with-1-hp-motor-163269999"
                                        class="chngUrl_4">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Chicken Cutting Machine With 1 Hp Motor"
                                        ctaname="Get Best Quote" cta_type="Product Enquiry" section="Product Slider"
                                        is_oneclick="Yes" id="inx_gbq_4">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Screw Chiller" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/EM/OI/TQ/ANDROID-89437135/product-jpeg-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/EM/OI/TQ/ANDROID-89437135/product-jpeg-250x250.jpg"
                         pdispid="21728063691" btntext="" price="1.9 Lakhs/ Meter" catid="66" mcatid="37536"
                         disableisq=""
                         plsqarr="Phase:Three%20Phase#Brand:Blue%20Star#Type:Fully%20Automatic#Size%2FDimension:Medium"
                         mcatname="" vidurl="" id="sldr_5">
                        <figure class="FM_pr"><a href="screw-chillers.html#screw-chiller-146389114"
                                                 class="chngUrl_5"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/EM/OI/TQ/ANDROID-89437135/product-jpeg-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/EM/OI/TQ/ANDROID-89437135/product-jpeg-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_5"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="screw-chillers.html#screw-chiller-146389114" class="chngUrl_5"><p
                                    id="chngName_5" class="fasC FM_w1">Screw Chiller</p>
                            </a>
                                <div class="hvr_txt"><a href="screw-chillers.html#screw-chiller-146389114"
                                                        class="chngUrl_5">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Screw Chiller" ctaname="Get Best Quote"
                                        cta_type="Product Enquiry" section="Product Slider" is_oneclick="Yes"
                                        id="inx_gbq_5">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Chicken Stainless Steel Poultry Processing Cabinet Plant" formtype="Enq"
                         reftext=""
                         zoomimage="https://5.imimg.com/data5/ANDROID/Default/2021/5/TG/ZZ/DN/89437135/screenshot-20210506-175207-word-jpg-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/ANDROID/Default/2021/5/TG/ZZ/DN/89437135/screenshot-20210506-175207-word-jpg-250x250.jpg"
                         pdispid="21539811648" btntext="" price="2.1 Lakhs/ Unit  1" catid="732" mcatid="162088"
                         disableisq=""
                         plsqarr="Usage%2FApplication:Poultry#Voltage:O.5HP%2C%200.37KW%2C%201Phase%2C%20220VAC%2C%2050Hz#Material%20Grade:SS%20304#Speed:450%20RPM#Capacity:7.5Kg%20Batch"
                         mcatname="" vidurl="" id="sldr_6">
                        <figure class="FM_pr"><a
                                href="chiken-processing-cabinet-plant.html#chicken-stainless-steel-poultry-processing-cabinet-plant-144506594"
                                class="chngUrl_6"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/ANDROID/Default/2021/5/TG/ZZ/DN/89437135/screenshot-20210506-175207-word-jpg-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/ANDROID/Default/2021/5/TG/ZZ/DN/89437135/screenshot-20210506-175207-word-jpg-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_6"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="chiken-processing-cabinet-plant.html#chicken-stainless-steel-poultry-processing-cabinet-plant-144506594"
                                    class="chngUrl_6"><p id="chngName_6" class="fasC FM_w1">Chicken Stainless Steel
                                Poultry Processing Cabinet Plant</p>
                            </a>
                                <div class="hvr_txt"><a
                                        href="chiken-processing-cabinet-plant.html#chicken-stainless-steel-poultry-processing-cabinet-plant-144506594"
                                        class="chngUrl_6">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Chicken Stainless Steel Poultry Processing Cabinet Plant"
                                        ctaname="Get Best Quote" cta_type="Product Enquiry" section="Product Slider"
                                        is_oneclick="Yes" id="inx_gbq_6">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Chicken Defeathering Machine" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/RP/PW/IS/ANDROID-89437135/product-jpeg-250x250.png"
                         displayimage="https://5.imimg.com/data5/RP/PW/IS/ANDROID-89437135/product-jpeg-250x250.png"
                         pdispid="21867986330" btntext="" price="50,000/ Unit" catid="732" mcatid="142745" disableisq=""
                         plsqarr="Capacity:10%20Birds#Material:Stainless%20Steel#Bird%20Type:Chicken#Head%20Type:Round#Usage%2FApplication:Poultry%20Farm#Country%20of%20Origin:Made%20in%20India"
                         mcatname="" vidurl="" id="sldr_7">
                        <figure class="FM_pr"><a href="new-items.html#chicken-defeathering-machine-147788341"
                                                 class="chngUrl_7"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/RP/PW/IS/ANDROID-89437135/product-jpeg-250x250.png"
                                data-dataimg="https://5.imimg.com/data5/RP/PW/IS/ANDROID-89437135/product-jpeg-250x250.png"
                                class="FM_pr FM_mAuto" id="chngImg_7"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="new-items.html#chicken-defeathering-machine-147788341" class="chngUrl_7"><p
                                    id="chngName_7" class="fasC FM_w1">Chicken Defeathering Machine</p>
                            </a>
                                <div class="hvr_txt"><a href="new-items.html#chicken-defeathering-machine-147788341"
                                                        class="chngUrl_7">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Chicken Defeathering Machine"
                                        ctaname="Get Best Quote" cta_type="Product Enquiry" section="Product Slider"
                                        is_oneclick="Yes" id="inx_gbq_7">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                    <div class="FM_sldrB FM_fl FM_bs enq_hash" modreftype="2" tempid="09" instid="01" afflid="-9"
                         rdmend="" prodname="Chicken Processing Plant" formtype="Enq" reftext=""
                         zoomimage="https://5.imimg.com/data5/KV/NK/KL/ANDROID-89437135/product-jpeg-250x250.jpg"
                         displayimage="https://5.imimg.com/data5/KV/NK/KL/ANDROID-89437135/product-jpeg-250x250.jpg"
                         pdispid="21732174662" btntext="" price="21,500/ Piece" catid="732" mcatid="162088"
                         disableisq=""
                         plsqarr="Type%20of%20Meat:Chicken#Material:Stainless%20Steel#Usage%2FApplication:Commercial%20Use"
                         mcatname="" vidurl="" id="sldr_8">
                        <figure class="FM_pr"><a href="chicken-processing-plant.html#chicken-processing-plant-146430224"
                                                 class="chngUrl_8"><span class="FM_ds5 FM_ds7 FM_ds13 FM_pr"><img
                                src="https://5.imimg.com/data5/KV/NK/KL/ANDROID-89437135/product-jpeg-250x250.jpg"
                                data-dataimg="https://5.imimg.com/data5/KV/NK/KL/ANDROID-89437135/product-jpeg-250x250.jpg"
                                class="FM_pr FM_mAuto" id="chngImg_8"></span></a>
                            <div class="FM_sldrTxt FM_pa FM_ps_b FM_p10 FM_f15 Fm_lh7 FM_c3 FM_ds5 FM_ds13 FM_ds11"><a
                                    href="chicken-processing-plant.html#chicken-processing-plant-146430224"
                                    class="chngUrl_8"><p id="chngName_8" class="fasC FM_w1">Chicken Processing Plant</p>
                            </a>
                                <div class="hvr_txt"><a
                                        href="chicken-processing-plant.html#chicken-processing-plant-146430224"
                                        class="chngUrl_8">
                                    <p class="FM_tdu FM_f12 FM_mb15 FM_m5">
                                    </p></a><span
                                        class="FM_ds1 FM_p31 FM_f14 FM_bg0 FM_c16 FM_bo FM_cp FM_bRds enq_click"
                                        heading="Get Best Quote for Chicken Processing Plant" ctaname="Get Best Quote"
                                        cta_type="Product Enquiry" section="Product Slider" is_oneclick="Yes"
                                        id="inx_gbq_8">Get Best Quote</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="FM_Abt FM_m56 FM_m11 FM_cb">
            <div class="FM_txc FM_mb10">
                <h2 class="FM_f26 FM_c1"><p id="aboutus" class="namePlace-1 FM_pa FM_ps_r FM_ps_l"></p><a
                        href="profile.html" class="FM_pr FM_pb5">About Us<span
                        class="FM_bgH prd_hd FM_ps_b FM_ps_l FM_ps_r FM_mAuto FM_pa"></span></a></h2>
            </div>
            <div class="FM_f16 Fm_lh3 FM_m9 FM_txc pl30 pr30"><span class="FM_Db FM_H_abt-1 FM_ovh FM_c7"
                                                                    id="homePageDesc">Established in the year <b>2019</b> at <b>Pune</b>, <b>Maharashtra, </b>we "<b>Five Star Engineering</b>” are a Sole Proprietorship based firm, engaged as the foremost <b>Manufacturer</b> of <b>Chicken Cutting Machine, Feather Plucking Machine</b><b>, etc.</b> Our products are high in demand due to their premium quality and affordable prices. Furthermore, we ensure to timely deliver these products to our clients, through this we have gained a huge clients base in the market.</span><a
                    href="profile.html" class="FM_c8 FM_bo FM_f14 FM_m22 FM_ds1 FM_tduHvr">+ Read More</a></div>
            <div class="FM_ds5 FM_ds6 FM_ds9 FM_ds13">
                <div class="FM_m9 FM_m18 FM_AaRt">
                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4">
<span class="FM_ds5 FM_ds7 FM_ds13 FM_h68">
<svg class="FM_nob"><use xlink:href="#natureof"></use></svg>
</span>
                    </div>
                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">Nature of Business</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">Manufacturer</span>
                    </div>
                </div>
                <div class="FM_m9 FM_m18 FM_AaRt">
                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4">
									<span class="FM_ds5 FM_ds7 FM_ds13 FM_h68">
									<svg class="FM_noe"><use xlink:href="#employee"></use></svg>
									</span>
                    </div>
                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">Total Number of Employees</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">Upto 10 People</span>
                    </div>
                </div>
                <div class="FM_m9 FM_m18 FM_AaRt">
                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4">
                        <span class="FM_ds5 FM_ds7 FM_ds13 FM_h68 FM_Stk1">
                        <svg class="FM_yoe"><use xlink:href="#establish"></use></svg>
                        </span></div>
                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">Year of Establishment</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">2019</span>
                    </div>
                </div>
                <div class="FM_m9 FM_m18 FM_AaRt">

                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4">	<span
                            class="FM_ds5 FM_ds7 FM_ds13 FM_h68">
									<svg class="FM_ls"><use xlink:href="#legalstatus"></use></svg>


	</span></div>
                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">Legal Status of Firm</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">Individual - Proprietor</span>
                    </div>


                </div>
                <div class="FM_m9 FM_m18 FM_AaRt">

                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4">
									<span class="FM_ds5 FM_ds7 FM_ds13 FM_h68 FM_Stk">
									<svg class="FM_ato"><use xlink:href="#anualturn"></use></svg>
									</span></div>

                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">Annual Turnover</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">Upto Rs. 50 Lakh</span>
                    </div>

                </div>
                <div class="FM_m9 FM_m18 FM_AaRt">

                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4">
                        <span class="FM_ds5 FM_ds7 FM_ds13 FM_h68 FM_Stk1">
                        <svg class="FM_gstN"><use xlink:href="#gst"></use></svg>
</span></div>
                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">GST Number</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">27BAHPP6159D1ZI</span>
                    </div>
                </div>
                <div onclick="openchildts1('http://trustseal.indiamart.com/members/fivestarengineeringpune');"
                     class="FM_m9 FM_m18 FM_AaRt FM_cp">
                    <div class="FM_bg5 FM_w68 FM_h68 FM_bor3 fcp_m1 FM_ds1 FM_vm FM_m4 FM_bt FM_bckgndT"><span
                            class="FM_ds5 FM_ds7 FM_ds13 FM_h68 ts Fm_trst"></span></div>
                    <div class="FM_ds1 FM_vm">
                        <p class="FM_c6 FM_f15 FM_m13">IndiaMART Certification</p>
                        <span class="Fm_lh18 FM_f16 FM_c1">Trust Seal Verified</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="FM_m15 FM_m12 FM_PRD ">
        <div class="FM_txc FM_m11">
            <h2 class="FM_f26 FM_c1"><a href="feather-plucking-machine-and-killing-cone.html" class="FM_pr FM_pb5">Our
                Products<span class="FM_bgH prd_hd FM_ps_b FM_ps_l FM_ps_r FM_mAuto FM_pa"></span></a></h2>
        </div>
        <div class="FM_Pr-dR FM_ds5 FM_ds6 FM_ds13">
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="chicken-cutting-machines.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/ANDROID/Default/2020/8/DU/IE/PY/89437135/product-jpeg-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/ANDROID/Default/2020/8/DU/IE/PY/89437135/product-jpeg-250x250.jpg"
                            alt="Chicken Cutting Machine"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="chicken-cutting-machines.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Chicken Cutting
                        Machines</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="chicken-cutting-machines.html#chicken-cutting-machine-156033916"><span>Chicken Cutting Machine</span></a>
                        </li>
                    </ul>
                </div>
                <a href="chicken-cutting-machines.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="feather-plucking-machine.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/DH/UG/JO/SELLER-89437135/chicken-feather-plucking-machine-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/DH/UG/JO/SELLER-89437135/chicken-feather-plucking-machine-250x250.jpg"
                            alt="Chicken  Feather Plucking Machine"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="feather-plucking-machine.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Feather Plucking
                        Machine</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="feather-plucking-machine.html#chicken-feather-plucking-machine-144950320"><span>Chicken  Feather Plucking Machine</span></a>
                        </li>
                    </ul>
                </div>
                <a href="feather-plucking-machine.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="meat-processing-equipment.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/DV/YR/DY/SELLER-89437135/drip-drum-meat-processing-equipment-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/DV/YR/DY/SELLER-89437135/drip-drum-meat-processing-equipment-250x250.jpg"
                            alt="Drip Drum Chicken Processing Plant"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="meat-processing-equipment.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Meat Processing
                        Equipment</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="meat-processing-equipment.html#drip-drum-chicken-processing-plant-144951110"><span>Drip Drum Chicken Processing Plant</span></a>
                        </li>
                    </ul>
                </div>
                <a href="meat-processing-equipment.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="chicken-feet-cutting-machine.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/ANDROID/Default/2021/5/KI/TE/SX/89437135/product-jpeg-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/ANDROID/Default/2021/5/KI/TE/SX/89437135/product-jpeg-250x250.jpg"
                            alt="Chicken Cutting Machine With 1 Hp Motor"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="chicken-feet-cutting-machine.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Chicken Feet Cutting
                        Machine</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="chicken-feet-cutting-machine.html#chicken-cutting-machine-with-1-hp-motor-163269999"><span>Chicken Cutting Machine With 1 Hp Motor</span></a>
                        </li>
                    </ul>
                </div>
                <a href="chicken-feet-cutting-machine.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="screw-chillers.html" class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/EM/OI/TQ/ANDROID-89437135/product-jpeg-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/EM/OI/TQ/ANDROID-89437135/product-jpeg-250x250.jpg"
                            alt="Screw Chiller"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="screw-chillers.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Screw Chillers</a>
                    </h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="screw-chillers.html#screw-chiller-146389114"><span>Screw Chiller</span></a>
                        </li>
                    </ul>
                </div>
                <a href="screw-chillers.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="chiken-processing-cabinet-plant.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/ANDROID/Default/2021/5/TG/ZZ/DN/89437135/screenshot-20210506-175207-word-jpg-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/ANDROID/Default/2021/5/TG/ZZ/DN/89437135/screenshot-20210506-175207-word-jpg-250x250.jpg"
                            alt="Chicken Stainless Steel Poultry Processing Cabinet Plant"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="chiken-processing-cabinet-plant.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Chiken Processing
                        Cabinet Plant</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="chiken-processing-cabinet-plant.html#chicken-stainless-steel-poultry-processing-cabinet-plant-144506594"><span>Chicken Stainless Steel Poultry Processing Cabinet Plant</span></a>
                        </li>
                    </ul>
                </div>
                <a href="chiken-processing-cabinet-plant.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="chicken-processing-plant.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/KV/NK/KL/ANDROID-89437135/product-jpeg-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/KV/NK/KL/ANDROID-89437135/product-jpeg-250x250.jpg"
                            alt="Chicken Processing Plant"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="chicken-processing-plant.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Chicken Processing
                        Plant</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="chicken-processing-plant.html#chicken-processing-plant-146430224"><span>Chicken Processing Plant</span></a>
                        </li>
                    </ul>
                </div>
                <a href="chicken-processing-plant.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <article class="FM_bg0 FM_PrdR FM_pr FM_W260 FM_br5 FM_b1 FM_bs ">
                <div class="FM_hPR_ni FM_mh250 FM_ds5 FM_p10 FM_w1 FM_ds6 FM_bs">
                    <figure class="imgc FM_m0 FM_bRds"><a href="evisceration-belt-conveyor.html"
                                                          class="FM_ds5 FM_ds7"><img
                            src="https://5.imimg.com/data5/LE/WI/BZ/SELLER-89437135/chicken-evisceration-line-conveyor-250x250.jpg"
                            data-dataimg="https://5.imimg.com/data5/LE/WI/BZ/SELLER-89437135/chicken-evisceration-line-conveyor-250x250.jpg"
                            alt="Evisceration Belt Conveyor"></a></figure>
                    <h3 class="FM_f20 FM_m5 FM_txc flx100"><a href="evisceration-belt-conveyor.html"
                                                              class="FM_clr FM_Ard FM_Db FM_tduHvr">Evisceration Belt
                        Conveyor</a></h3></div>
                <div class="FM_text FM_txc FM_p18 FM_ds16">
                    <ul class="FM_mb15 FM_m22">
                        <li class="FM_vm FM_pdngt12"><a class="FM_Db"
                                                        href="evisceration-belt-conveyor.html#evisceration-belt-conveyor-144507786"><span>Evisceration Belt Conveyor</span></a>
                        </li>
                    </ul>
                </div>
                <a href="evisceration-belt-conveyor.html" class="FM_f15 FM_txc FM_pa FM_p14 dtl_arw lr0"><span>View Details</span>
                    <p class="m64_dn_ar db b flx1 pr"></p></a></article>
            <span class="FM_f15 FM_c4 FM_ds5 FM_ds13 FM_w1 FM_m21 FM_pRD-BTN"><a
                    href="feather-plucking-machine-and-killing-cone.html">View Complete Range</a></span></div>
    </div>
</div>