{% load static %}

<style>
.main-footer {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0.5px solid silver;
  background-color: #fff;
  -o-object-fit: none;
  object-fit: none;
}

.footer-link {
  padding-right: 0px;
  padding-left: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 12px;
  font-weight: 300;
}

.footer-link.nav {
  padding-bottom: 12px;
  padding-left: 0px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
  text-decoration: underline;
}

.footer-link.nav {
  padding-bottom: 12px;
  padding-left: 0px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
  text-decoration: none;
}
  .container-6 {
    padding-right: 20px;
    padding-left: 20px;
    border-top: 0.5px solid silver;
  }

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link-3 {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link-3:hover {
  text-decoration: underline;
}
  .c-quote__text.is--visibility {
    padding-right: 20px;
    padding-left: 20px;
  }

  .copyright {
    direction: ltr;
  }

  .c-section__footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .c-footer__image {
    max-width: 100%;
  }

  .div-block-133 {
    width: 150px;
  }

  .div-block-134 {
    margin-right: 40px;
  }



  .footer-heading-2 {
    margin-top: 20px;
  }

.divider {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: silver;
}

.copyright {
  display: inline-block;
  float: right;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.text_link {
  display: inline-block;
  margin-right: 40px;
  float: left;
  color: #a0a0a0;
  font-size: 12px;
}

.c-section__footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f7f7f7;
  text-align: center;
}

.text-block-38 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.text-block-39 {
  padding-bottom: 10px;
  font-size: 12px;
}

.c-footer__image {
  max-width: 50%;

.c-footer_copyright__links {
  float: left;
}

.c-footer_copyright__text {
  float: right;
}
}
</style>
<div class="main-footer">
    <div class="container-6 w-container">
        <div class="c-footer_copyright w-clearfix">
            <div class="c-footer_copyright__links w-clearfix">
                <p class="disclaimer1"><small>All Offers/Products/Company Profiles/Images and other user-posted contents are posted by
            the user and GOIMEX shall not be detained accountable for any such content.</small></p>
            </div>
            <div class="c-footer_copyright__links w-clearfix"><a href="{% url 'terms' %}" target="_blank"
                                                                 class="text_link">Terms &amp; Policies<br></a>
                <link rel="prefetch" href="/terms-and-policy/terms-of-use">
                <a href="{% url 'terms' %}" class="text_link">Privacy policy<br></a>
            </div>
            <div class="c-footer_copyright__text w-clearfix">
                <div class="copyright"></div>
            </div>
        </div>
    </div>
</div>


<!----
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 mt-3">
                <h5 class="mobile-margin">About Us</h5>
                <ul>
                    <li>
                        <a   href="aboutus"  title="About Goimex">About Goimex</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Representative Offices">Representative Offices</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Countries">Countries</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Learning Center">Learning Center</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Blog">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 mt-sm-3">
                <h5>Trade Services</h5>
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="Our Partners">Our Partners</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Become a Partner">Become a Partner</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Global Trade Shows">Global Trade Shows</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="News & Stories">News & Stories</a>
                    </li>
                    <li>
                        <a href="htscode" title="News & Stories">HTS Codes</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 mt-sm-3">
                <h5>Value Services</h5>
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="Video Testimonial">Video Testimonial</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Success Stories">Success Stories</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Seat Sourcing">Seat Sourcing</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Special Recommendations">Special Recommendations</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Best Selling Products">Best Selling Products</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 mt-sm-3">
                <h5>Privacy Policy</h5>
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Terms & Conditions">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="IPR Policy">IPR Policy</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="Product Listing Policy">Product Listing Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 2 mt-sm-3">
                <h5>Contact Us</h5>
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="Post your Requirements">Post your Requirement</a>
                    </li>
                    <li>
                        <a href="tel:+0000000000">+1 (000) 000-0000</a>
                    </li>
                    <li>
                        <a href="tel:+12143829974">+91-9422065743</a>
                    </li>
                    <li>
                        <a href="mailto:care@info.com">care@goimex.com</a>
                    </li>
                    <li>
                        <a href="mailto:support@egmail.com">support@gmail.com</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Office New Mumbai</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 mt-sm-3">
                <h5>We Accept</h5>
                <ul class="li-none">
                    <li class="pl-0">
                        <a href="javascript:void(0)" title="Premium Services"><img alt="Visa, MasterCard" class="lazy"
                                                                                   data-src="{%  static  'images/visa.png' %}"
                                                                                   height="74" src="" width="123"></a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="disclaimer">All Offers/Products/Company Profiles/Images and other user-posted contents are posted by
            the user and GOIMEX GLOBAL shall not be detained accountable for any such content.</p>
    </div>
    <div class="ftr-copyright">
        <div class="container text-sm-center">
            Copyrights &copy; 2021 All Rights Reserved</a>
        </div>
    </div>
</footer>------>
<div class="fixed-premium animated rotatePulse infinite slower">
    <a href="blog/new" title="Premium Services">Premium Services <i class="fa fa-star"></i></a>
</div>
<div class="quote animated rotatePulses infinite slower">
    <a href="{% url 'rfq' %}" title="Tell us what you need"><span>Tell us what you need</span> <i
            class="fa fa-question"></i></a>
</div><a data-fancybox="" data-src="#popupform" href="javascript:;" id="popupformOpener" style="display: none;"></a>
<div class="popupform" id="popupform" style="display: none;">
    <div class="hd-bann-form form-full">

    </div>
</div>
<script src="{% static 'js/app.min.js' %}" type="text/javascript">
</script>
<script async src="{% static 'js/auth.min.js' %}" type="text/javascript">
</script>

<div class="lead-popup">
    <div class="closeicon" id="closePopup">
        <a href="javascript:;"><i aria-hidden="true" class="fa fa-chevron-down"></i></a>
    </div>
    <div class="chat-form">
        <div class="popheading">
            <div class="popup-icon"><img alt="Chat Icon" class="lazy img-fluid"
                                         src="{%  static  'images/chaticon.png' %}"></div>
            <h4>Chat with us now!</h4>
        </div>
        <form accept-charset="UTF-8" class="validate-form pre-chat-form" id="register_form1" method="post"
              name="register_form1">
            <div class="form-row pl-3 pr-3">
                <div class="col-12 mb-3 mt-4">
                    <input autocomplete="name" class="form-control" name="full_name" placeholder="Enter your Full Name"
                           required="" title="Enter your Full Name (Required)" type="text">
                </div>
                <div class="col-12 mb-3">
                    <input autocomplete="email" class="form-control" name="email" placeholder="Enter your Email"
                           required="" title="Enter your Email (Required)" type="email">
                </div>
                <div class="col-12 mb-3">
                    <input autocomplete="tel" class="form-control head-field" name="phone_number"
                           placeholder="Enter your Phone" required="" title="Enter your Phone (Required)" type="tel">
                </div>
                <div class="col-12 mb-3">
                    <input autocomplete="organization" class="form-control" name="company_name"
                           placeholder="Your Company / Organization Name" required=""
                           title="Your Company / Organization Name (Required)" type="text">
                </div>
                <div class="col-12 mb-3">
                    <select class="form-control" name="type" required="" title="You want to sell or buy?">
                        <option value="">
                            I am
                        </option>
                        <option value="seller">
                            Seller
                        </option>
                        <option value="buyer">
                            Buyer
                        </option>
                    </select>
                </div>
                <div class="col-12 mb-3">
                    <textarea class="form-control pt-2" name="products_want"
                              placeholder="Type your message and hit Enter" rows="5"></textarea>
                </div>
                <div class="popup-btn">
                    <button class="btn mb-2" type="submit"><i aria-hidden="true" class="fa fa-envelope-open mr-2"></i>Start
                        Chat
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
	var OneSignal = window.OneSignal || []; OneSignal.push(function() { OneSignal.init({ appId: "fbd96f7e-d10b-48aa-b0d1-412ba5136cc6", }); OneSignal.sendTags({ fp_source: "Organic", fp_domain_full_page_url: "https://www.eworldtrade.com", fp_domain_page_url: "https://www.eworldtrade.com", fp_domain_refferrer_url: "", fp_domain_external_url: "", fp_utm_campaign: "", fp_utm_medium: "", fp_utm_source: "", fp_utm_content: "", fp_utm_term: "", fp_visitor_ip: "103.208.71.73", fp_visitor_country: "India", fp_visitor_region: "MAHARASHTRA", fp_visitor_city: "MUMBAI" }); });

</script>
<script type="text/javascript">
	$(document).ready(function(){ $('#bannerCarousel').owlCarousel({ loop: true, margin: 0, nav: false, lazyLoad: true, dots: true, items: 1, autoplay: true, autoplayHoverPause: true, responsiveClass: true }); });

</script>
<script type="text/javascript">
	$('#featuredProductThumbnail').owlCarousel({ loop: true, margin: 0, nav: false, lazyLoad: true, dots: true, items: 1, autoplay: true, autoplayHoverPause: true });

</script>
<script type="text/javascript">
	$('.owl-carousel-tabs').owlCarousel({ loop: false, margin: 5, dots: false, nav: false, lazyLoad: true, lazyLoadEager: 7, stagePadding: 60, responsive:{ 0: { items: 2 }, 600: { items: 4 }, 1000: { items: 6 } }});

</script>
<script type="text/javascript">
	$(document).ready(function(){ $('.featured-company-banner').owlCarousel({ items: 1, loop: true, margin: 0, nav: false, lazyLoad: true, dots: false, autoplay: true, autoplayHoverPause: true, responsiveClass: true }); });

</script>
<script type="text/javascript">
	$(document).ready(function(){ $('#premiumServiceCarousel').owlCarousel({ loop: true, margin: 0, nav: false, lazyLoad: true, dots: true, items: 1, autoplay: true, autoplayHoverPause: true, responsiveClass: true }); }); $(document).on("click", ".premiumServiceCarouselComponent-section", function(event){ var target = $(event.target); if(!target.is("a")){ window.location.href = $(this).data('route'); } });

</script>
<script>
	$(document).ready(function(){ $("#tradeShowCarousel").owlCarousel({ items: 1, loop: true, margin: 0, nav: false, lazyLoad: true, dots: true, autoplay: true, autoplayHoverPause: true, responsiveClass: true }); });

</script>
<script type="text/javascript">
	$(document).ready(function(){ $('#featuredSuppliers').owlCarousel({ items: 1, loop: true, margin: 0, nav: false, lazyLoad: true, dots: true, autoplay: true, autoplayHoverPause: true, responsiveClass: true }); });

</script>
<script type="text/javascript">
	$(document).ready(function(){ $('.testimonails-slider').owlCarousel({ items: 1, loop: true, margin: 0, nav: false, lazyLoad: true, dots: true, autoplay: true, autoplayHoverPause: true, responsiveClass: true }); });

</script>
<script>
	$(document).ready(function(){ $("#owlAbout").owlCarousel({ items: 1, autoHeight:true }); });

</script>


<script type="text/javascript">
	$(document).ready(function(){ $.fancybox.defaults.animationEffect = "zoom-in-out"; $.fancybox.defaults.animationDuration = 500; }); function registerPopup(title){ title = title === undefined ? 'Join Free' : title; if(title == "Join Free"){ title = "Join today and be a part of the fastest growing B2B Network"; } if(title == "Quote Now"){ title = ''; $("#popupform h4").text("Contact Now"); $('#popupform .reg-form-fieldset input[type=submit]').val('Submit'); $('#popupform .socialLoginComponent>.social-login-separator>span').text('or fill with your social network'); $(".quickRegisterHeading").remove(); $(".quick-register button[type=submit]").text("Submit"); } $.fancybox.defaults.caption = title; $("#popupformOpener").click(); }

</script>


<script>
	$(document).on('click', '#popupOpen', function() { $('.lead-popup').addClass('chat-formopen'); $('#popupOpen').addClass('d-none'); }); $(document).on('click', '#closePopup', function() { $('.lead-popup').removeClass('chat-formopen'); $('#popupOpen').removeClass('d-none'); });

</script>

