{% load static %}
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<meta name="description" content="Connecting Bussiness to Bussiness, Country to Country">
<meta name="keywords" content="eCommerce, Buyer, Seller, Indian Manufactorer">
<meta name="author" content="Goimex Global Pvt Ltd.">
    <link rel="icon" href='/static/images/gicon.jpg' type="image/x-icon">
<title>Goimex Global Pvt Ltd</title>
<link href="{% static 'css/search.css' %}" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<link href="{% static 'css/app_min.css' %}" media="all" rel="stylesheet" type="text/css">
<link href="{% static 'fonts/icomoon1.ttf?smr7yk' %}" as="font" rel="preload" type="font/ttf">
<link href="{% static 'fonts/fa-solid-900.woff2' %}" rel="preload" type="font/woff2">
<link href="{% static 'fonts/fa-brands-400 .woff2' %}" rel="preload" type="font/woff2">
<link href="{% static 'fonts/fa-regular-400 .woff2' %}" rel="preload" type="font/woff2">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'fonts/lato-v15-latin-300.woff2' %}" rel="preload" type="font/woff2">
<!-- <link href="{% static 'css/renderBlocking.min.css' %}" media="all" rel="stylesheet" type="text/css"> -->
<link href="{% static 'css/responsive.min.css' %}" id="responsiveCss" media="screen and (max-width: 1199px)"
      rel="stylesheet" type="text/css">
{% include 'blog/snippets/base_css.html' %}


<body style="background-color:transparent">
<!-----<div class="container">
    <div class="row">
        <a href="/" title="Goimex Global Pvt. Ltd."><img alt="Goimex Global Pvt. Ltd." height="75"
                                                         class="logo w-60 mt-1"
                                                         src="{%  static  'images/GOIMEX.png' %}"></a>
    </div>
</div>----->
<style>

.s01 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("/static/images/pic5.jpg");

  background-size: cover;
  background-position: center center;
  padding: 15px;
}

</style>
<div class="s011">
    <form class="form-inline my-2 my-lg-0" action="{% url 'blog-search' %}" method="GET">
        <section class="top-bar-head-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-md-flex justify-content-md-center text-center">
                        {% if user.is_authenticated %}
                        <h6 class="mr-3"> Hello, <span style="text-transform:uppercase">{{user.username}}</span> , you
                            are a
                            part of the fastest growing B2B Network</h6><a
                            href="accounts/logout">LOGOUT</a>
                        {% else %}
                        <h6 class="mr-3">Join today and be a part of the fastest growing B2B Network</h6><a
                            href="accounts/register">Join Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <fieldset>
        <legend>Your business. Your way.</legend>
        </fieldset>
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input id="search" name="search" type="text" placeholder="What are you looking for?"/>
</div>
           <div class="input-field second-wrap">
                <h4><select required="" name="type">
                    <option value="buyer" selected="selected">Buyer</option>
                    <option value="seller">Seller</option>
                    <option value="service">Service</option>
                    <option value="company">Company</option>
                    <option value="manufacturer">Manufacturer</option>
                </select></h4>
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="submit"> Search</button>
            </div>
        </div>
    </form>
</div>

<!----
<div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="col-md-12 d-md-flex justify-content-md-center text-center">
        </div>
    </div>
    {% else %}
    <section class="top-bar-head-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12 d-md-flex justify-content-md-center text-center">
                    {% if user.is_authenticated %}
                    <h6 class="mr-3"> Hello, <span style="text-transform:uppercase">{{user.username}}</span> , you are a
                        part of the fastest growing B2B Network</h6><a
                        href="accounts/logout">LOGOUT</a>
                    {% else %}
                    <h6 class="mr-3">Join today and be a part of the fastest growing B2B Network</h6><a
                        href="accounts/register">Join Now</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>
---->
           <a href="/" title="Goimex Global Pvt. Ltd."><img alt="Goimex Global Pvt. Ltd." height="50"
                                                             class="logo w-60 mt-1"
                                                             src="{%  static  'images/GOIMEX.png' %}"></a>
<section class="top-nav">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <button aria-expanded="true" class="navbar-toggler navbar-toggler-left" data-target="#nav-top-left"
                    data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse hide" id="nav-top-left">
                <ul class="navbar-nav left">
                    <li class="nav-item">
                        <a href="{% url 'membership' %}" title="Premium Services"><span><i class="fa fa-star"></i> Premium Services</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-buyerhome' %}" title="Buyers">Buyers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-servicehome' %}" title="Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ecomerce' %}" title="Products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allcompany' %}" title="Companies">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mfgcompany' %}" title="Manufacturers">Manufacturers</a>
                    </li>
                </ul>
                <ul class="navbar-nav right">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">FAQs</a>
                    </li>
                    <!---
                   <li class="nav-item dropdown">
                      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                          data-toggle="dropdown" href="javascript:;" id="language-dropdown"><span
                               class="flag-icon flag-icon-us"></span> English</a>
                       <div aria-labelledby="language-dropdown" class="dropdown-menu">
                           <a class="dropdown-item" href="javascript:void(0)" title="English"><span
                                   class="flag-icon flag-icon-us"
                                   style="background-image: url('static/flags/us.svg')"></span> English</a>
                            <a class="dropdown-item" href="javascript:void(0)" title="Chinese"><span class="flag-icon flag-icon-cn"></span> Chinese</a>
                       </div>
                   </li>
           ------->
                </ul>
            </div>
        </nav>
    </div>
</section>


<div class="logo100">

</div>
<br>
<div class="container">
    <div class="row">

        <!-- <div class="col-md-3 col-xl-3 d-flex justify-content-center justify-content-md-start mb-md-0 mb-3">
             {% if user.profile.organization %}
             <div class="row">
                 {% if user.is_authenticated %}
                 <a href="{% url 'companyproduct' user.id %}" title="My Company">
                     <div class="w3-panel w3-card ">
                         {% if user.profile.organization %}
                         <h5><span style="text-transform:uppercase">{{user.profile.organization}}</span></h5>
                         {% else %}
                         <h5>{{user.username}}</h5>h5>
                         {% endif %}
                     </div>
                 </a>
                 {% endif %}
             </div>
             {% endif %}
         </div>---->
<!----
        <div class="row">
            <a href="/" title="Goimex Global Pvt. Ltd."><img alt="Goimex Global Pvt. Ltd." height="50"
                                                             class="logo w-60 mt-1"
                                                             src="{%  static  'images/GOIMEX.png' %}"></a>
        </div>

        <div class="mx-auto">
            <nav class="navbar navbar-expand-lg bg-light navbar-light">
                <form class="form-inline my-2 my-lg-0" action="{% url 'blog-search' %}" method="GET">
                    <input class="form-control mr-sm-2" type="search"
                           placeholder="Search here............." aria-label="Search"
                           name="search">
                    <h4><select required="" name="type">
                        <option value="buyer" selected="selected">Buyer</option>
                        <option value="seller">Seller</option>
                        <option value="service">Service</option>
                        <option value="company">Company</option>
                        <option value="manufacturer">Manufacturer</option>

                    </select></h4>
                    <label for="cars">-</label>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>------>
        <!----
        <div class="col-md-3 col-xl-6 pr-md-0">
            <marquee behavior="scroll" direction="left"><h6>Virtual Event Hosted By Goimex will held in
                Jan
                2022</h6>
            </marquee>

        </div>----->
        <hr>
        <hr>

        <div class="col-md-12 col-xl-12 d-flex justify-content-center justify-content-md-end mt-md-0 mt-4 header-list">
            <pi><i class="fa fa-address-book fa-2x"></i><a href="{% url 'profile' %}"><strong>
                {% if user.is_authenticated %}
                {% if user.profile.organization %}
                <span style="text-transform:uppercase">&nbsp;My Profile</span>&nbsp; &nbsp;
                <!----{{user.profile.organization}}--->
                {% else %}
                {{user.username}
                {% endif %}
                {% else %}
               &nbsp;My Profile &nbsp;
                {% endif %} </strong></a></pi>
            <pi><i class="fa fa-shield fa-2x"></i><a href="{% url 'safedeal' %}"><strong>&nbsp;Safe Deal &nbsp;
                &nbsp; &nbsp;</strong></a></pi>
            <pi><i class="fa fa-envelope fa-2x"></i><a href="rfq"><strong>&nbsp; RFQ &nbsp</strong></a></pi>
            {% if user.is_authenticated %}
            <pi><i class="fa fa-user-circle fa-2x"></i><a href="accounts/logout"><strong>&nbspSignOut</strong></a></pi>
            {% else %}
            <pi><i class="fa fa-user-circle fa-2x"></i> <a href="accounts/login"><strong>&nbsp;SignIn</strong></a>
            </pi>
            {% endif %}
        </div>
<!------
        <marquee behavior="scroll" direction="left"><h3>Global Platform For Global Trade</h3>
        </marquee>---->
        {% include 'sellertab.html' %}
       <!---- {% include 'headerimages.html' %} --->
    </div>
</div>


<!----
 <a href="/" title="Goimex Global Pvt. Ltd."><img alt="Goimex Global Pvt. Ltd."  class="logo w-60 mt-1"
                                                                 src="{%  static  'images/logonew1.png' %}"></a>
--->

</body>