<form method="POST" action="submit" accept-charset="UTF-8" id="rfq-form"
      class="uploader" enctype="multipart/form-data"><input name="_token" type="hidden"
                                                            value="fyMYlYiwvkAFVMmvbUMiUouPiGl7QVIyLjHmg1vr">


    <div class="row">
        <div class="main-container">
            <h2 class="c-heading main-heading multi-heading suplplier-heading">Please fill this form to view price</h2>

            <div class="col-xs-12 col-sm-12 col-md-8 left-container">
                <div class="inline-blocks">
                    <div class="left-container">

                        <img src="https://euimg.eworldtrade.com/uploads/product/product-73784-t-615.jpg"
                             alt="2016 Hot Selling gi steel coil / ppgi / gi steel coil in mineral &amp;amp; metallurgy">
                    </div>
                    <div class="right-container">
                        <h4 class="c-heading heading-rfq">2016 Hot Selling gi steel coil / ppgi / gi steel in</h4>
                        <h6 class="sub-heading"> Tianjin Yujie Steel Trading Co., Ltd. </h6>
                        <h6 class="sub-heading"><img class="country_flag"
                                                     src="https://www.eworldtrade.com/assets/svg/flags/cn.svg">
                            China

                        </h6>

                    </div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 right-container">
                <nav class="progressbar_nav navbar affix-top" data-spy="affix" data-offset-top="197"
                     style="border-radius:0">
                    <h2 class="c-heading main-heading multi-heading heading-progress">Quality of Inquiry</h2>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                             aria-valuemax="100" style="width: 20%;">
                        </div>
                    </div>
                </nav>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-8 left-container">


                <div class="form-container">


                    <div class="form-group">
                        <input class="form-control p-track" placeholder="Enter title *" id="subject" name="subject"
                               type="text"
                               value="Inquiry About 2016 Hot Selling gi steel coil / ppgi / gi steel coil in mineral &amp;amp; metallurgy">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control rfq-txt p-track" id="inquiry_message" name="message" cols="50"
                                  rows="10"></textarea>
                    </div>

                    <div class="clearfix"></div>
                    <h4 class="c-heading heading-rfq" style="margin-bottom: 15px;">Provide your contact details</h4>
                    <div class="form-group l-r-l-forms" style="margin-bottom: 40px">
                        <div class="col-xs-12 col-sm-4">
                            <input class="form-control p-track" placeholder="Enter Name *" id="full_name"
                                   name="full_name" type="text">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <input class="form-control p-track" placeholder="Enter Email *" id="user_email" name="email"
                                   type="email">
                        </div>

                        <input class="form-control p-track" placeholder="Enter Phone Number *" id="user_phone"
                               name="phone_number" type="tel" autocomplete="off"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-group supplier-terms">
                    <label for="terms-condition" class="control control--checkbox">I have read, agreed to abide
                        by <span class="terms-condition-label">Terms and Conditions of Inquiry</span>
                        <input class="form-control field " id="terms-condition" name="agree_terms"
                               type="checkbox" value="yes">
                        <div class="control__indicator"></div>
                    </label>

                    <p class="error hidden" id="terms_condition_label" style="color: #cf0015;">Please accept our
                        terms and conditions</p>
                </div>
            </div>
            <button type="submit" class="btn btn-post-rfq">Send Inquiry</button>

        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 right-container">

        <div class="form-group" style="margin-top: 5px;">
            <label id="name_label" class="label_notification">
                Please enter title of Inquiry
            </label>
        </div>

        <div class="form-group" style="margin-top: 90px;">
            <label id="description_label" class="label_notification">
                Please enter detail message.
            </label>
        </div>


        <div class="form-group" style="margin-top: 255px;">
            <label id="file_label" class="label_notification">
                Attachment like pictures/images would improve your inquiry
            </label>
        </div>
        <div class="form-group" style="margin-top: 124px;margin-bottom: 10px;">
            <label id="contact_details_label" class="label_notification">
                Please provide your contact details
            </label>
        </div>


    </div>

    </div>
    </div>
</form>