{% extends "blog/newbase.html" %}
{% load crispy_forms_tags %}
{% block title %}RFQ{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="col-xs-12 col-sm-12 col-md-12 left-container">
                <section class="thankyou-sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1>Thank You</h1>
                                <span class="bn-tagline-ylw">Your buy offer has been posted. <br>
                                You can post up to 10 buy offers.</span>

                                <a href="#" title="Know More"
                                   class="btn-inner-ban">Personalize Now</a>
                                <a href="#" title="Know More" class="btn-inner-ban">Go to
                                    Home page</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

</div>


{% endblock content %}