<div class="container-fluid mt-3">
    <!-- all products -->
    <div id='products' class="col-lg-12 mx-auto">
        <div class="row mx-auto">

            <div class="col-md-3 card ">
                <div class="hot-buttons">
                    <div class="flex-box row">
                    <div class="card card-cascade card-ecommerce wider shadow mb-3">
                        <!--Card image-->
                        <div class="view view-cascade overlay text-center">
                            <ul class="flex-box">
                                <li>
                                    <a class="link" href="javascript:void(0)">
                                        <i class="fa fa-bullhorn"></i>
                                        <span>Tenders<span>Here are the most relevant requests for quotation</span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
            <div class="col-md-3 card ">
                <div class="card card-cascade card-ecommerce wider shadow mb-3 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center">
                        dddddddddddd
                    </div>
                </div>
            </div>
            <div class="col-md-3 card ">
                <div class="card card-cascade card-ecommerce wider shadow mb-3 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center">
                        dffgggrrrr
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-3 card ">
                <div class="card card-cascade card-ecommerce wider shadow mb-3 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center">
                        dffgggrrrr
                    </div>
                </div>
            </div>
    </div>
</div>