<div class="container shadow mt-5">
    <div class="row">
        <div class="col-12 p-0">
            <h2 class="text-center border-bottom mb-0 p-4">Testimonial</h2>
        </div>
        <div class="col-sm-6 border-end border-bottom p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/test01.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">
                                Goimex.com is the leading India business-to-business (B2B) wholesale marketplace that
                                connects buyers worldwide with Verified Suppliers from India and Asia.
                                Goimex.com is the one-stop online B2B marketplace that serves people on
                                both the sourcing and buying ends of the business with a platform to connect
                                and drive profitable trade.
                                </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">IN SEASON MARKETING</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-6 border-bottom p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/test02.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">
                            More than 1.1 million international buyers and 95 of the world’s top 100 retailers have
                                chosen Goimex.com  as the number one India wholesale marketplace.
                                They offer top-quality services to further protect the buyers on goimex platform by
                                providing the suppliers’ and manufacturers’ key business information,
                                production capabilities, product quality, and other details that can help
                                us find a trusted supplier.
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Tools Imports</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-6 border-end p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/test03.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">
                                Goimex.com offers suppliers like us the opportunity to drive profitable
                                commercial exchange with integrated marketing solutions .
                                The online and offline marketing solution for suppliers is based
                                on in-depth analysis and understanding of buyers’ sourcing habits
                                that enable suppliers and manufacturers to reach target buyers
                                and generate sales leads.
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer">TEGWEN AGENCIES CORPORATE CLOTHING & PREMIUM GIFT SPECIALISTS CC</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="static/images/test04.jpg" class="img-thumbnail rounded-circle" alt="User">
                </div>
                <div class="col-md-9">
                    <figure>
                        <blockquote class="blockquote mt-3">
                            <p class="fs-6">
                               We can rely on Goimex.com with both an online and offline sourcing presence.
                                Goimex.com is unique B2B wholesale marketplace for in-demand and high-quality
                                products from across a range of categories.
                                We trust the leading India B2B wholesale marketplace.

                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer"> BAMBOO WAREHOUSE KZN CC</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>